@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewBag.Title = "ArticleContent";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8BO+DqSnC6xBg8yIcWHPXzxJsKn3XA2Tlkg8r7U5MDzY1ra2Qx54Vl8iIYiC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eZt+q1LQ4lO/dZ7JkqUy5m4qGu2zTpuKQFq6wC2FKeWBqy0i+xn2dOQ6BQFuMI6B" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" href="~/css/blogstyle.css" type="text/css">
<header class="header-section">
    <div class="nav-options">

        <div class="container">
            <div class="humberger-menu ">
                @Html.ActionLink("前往首頁", "List", "Blog")
            </div>
           
            <div class="nav-menu">
                <ul>
                    <li class="active">
                        <a href="@Url.Action("ArticleList", "Blog", new { FId = Model.blogs.FirstOrDefault().BlogId})">回到文章列表</a>
                    </li>
                    @{
                        foreach (var item in Model.subBlogs.GroupBy(p => p.Title))
                        {
                            <li>
                                <a href="@Url.Action("ArticleList", "Blog", new {FId=item.First().BlogId ,SFId = item.FirstOrDefault().SubBlogId})">@item.Key</a>
                            </li>
                        }
                    }
                    <li style="float:right;">
                        @{
                            if (Context.Session.GetInt32(CDictionary.SK_UserID) == null)
                            {
                                <button style="background:#a81d1d ;border:none;height:52.5px" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    發表回覆
                                </button>
                            }
                            else
                            {
                                @Html.ActionLink("發表回覆", "ReplyCreate", "Blog", new { AFId = Model.articles.FirstOrDefault().ArticleId, FId = Model.blogs.FirstOrDefault().BlogId }, new { @class = "btn" })
                            }
                        }
                      @*   <div class="nav-search search-switch">
                            @Html.ActionLink("發表回覆", "ReplyCreate", "Blog", new { AFId = Model.articles.FirstOrDefault().ArticleId, FId = Model.blogs.FirstOrDefault().BlogId }, null)
                        </div> *@
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
@*-----------------------------------<!-- ArticleContent -->---------------------------------------------------*@
<div>
    <div style="margin: 0 auto; width: 940px;">
        <div style="border: 2px solid red; padding: 3px; margin: 5px; border-radius: 5px; display:flex;">
            <div style="display: flex;">
                <div style="margin-right: 10px;">
                    @{
                        var author = Model.articles.FirstOrDefault()?.Member;
                        if (author != null)
                        {
                            <img src="~/images/@author.FImagePath" alt="" style="max-width: 100px;border-radius: 50%;">
                        }
                    }
                </div>
                <div style="flex-grow: 1;">
                    <!-- 使用 flex-grow: 1; 讓這個區塊填滿剩餘的寬度 -->
                    <div>
                        <h1 style="color:white">
                            @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().Title)
                        </h1>
                    </div>
                    <div>
                        @* 超連結個人頁面 *@
                        樓主
                        <h3 style="color:white">
                            @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().Member.Name)
                        </h3>
                    </div>
                    <p style="font-size:15px">
                        發表時間: @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ModifiedDate)
                    </p>
                    <div style="max-width:800px; overflow: hidden; word-wrap: break-word; white-space: pre-line;">
                        <p style="margin: 0; max-width:650px;font-size:30px ">
                            @* @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ArticleContent) *@
                            @Html.Raw(Model.articles.FirstOrDefault().ArticleContent)
                        </p>
                    </div>
                    <br />

                    <div style="width:800px">
                        @*//Todo:讚用ajax*@
                        @{
                            int like = 0;
                            if (Context.Session.GetInt32(CDictionary.SK_UserID) == null)
                            {
                                <button type="button" class="btn btn-danger" id="btnLike" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <img src="~/images/like.png" alt="Like" width="20px" height="20px" />
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-danger" id="btnLike">
                                    <img src="~/images/like.png" alt="Like" width="20px" height="20px" />
                                </button>
                            }
                            like = Model.articleActions.Count(a => a.ActionId == 1);
                            <span id="spLike">
                                @like
                            </span>
                        }
                        <p style="float:right">
                            <!-- HTML 中的按鈕 -->
                            <button id="copyButton" class="btn btn-info" data-clipboard-target="#urlToCopy">分享</button>
                            <!-- 顯示的網址 -->
                            <input type="hidden" id="urlToCopy" value="" readonly>

                            @if (Model.articles.First().MemberId == Context.Session.GetInt32(CDictionary.SK_UserID))
                            {

                                <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action( "ArticleEdit","Blog", new { AFId = Model.articles.FirstOrDefault().ArticleId ,FId = Model.blogs.FirstOrDefault().BlogId})'">修改</button>
                                <button type="button" class="btn btn-secondary" onclick="ArticleDelete()">刪除文章</button>
                            }
                            <script>
                                function ArticleDelete() {
                                    var result = confirm('確定刪除嗎?');
                                    if (result) {
                                        location.href = '@Html.Raw(Url.Action("ArticleDelete", "Blog", new { FId = Model.blogs.FirstOrDefault().BlogId, AFId = Model.articles.FirstOrDefault().ArticleId }))';
                                    }
                                }
                            </script>
                            @*@Html.ActionLink("修改", "ArticleEdit", new { AFId = Model.articles.FirstOrDefault().ArticleId ,FId = Model.blogs.FirstOrDefault().BlogId})
                            @Html.ActionLink("刪除", "ArticleDelete", new { AFId = Model.articles.FirstOrDefault().ArticleId, FId = Model.blogs.FirstOrDefault().BlogId }, new { onclick = "return confirm ('確定刪除嗎?')" })*@
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Replies -->
        <div style="margin: 0 auto; width: 940px;">

            @{
                int count = 0;
                foreach (var item in Model.replies)
                {
                    count++;
                    <div style="border: 2px solid red; padding: 3px; margin: 5px; border-radius: 5px;display: flex;">
                        <div div style="margin-right: 10px;">
                            @{
                                var replyAuthor = item.Member;
                                if (replyAuthor != null)
                                {
                                    <img src="~/images/@replyAuthor.FImagePath" alt="" style="max-width: 100px; border-radius: 50%;">
                                }
                            }
                        </div>
                        <div style="flex-grow: 1;">
                            <div>
                                @count 樓
                            </div>
                            <h3 style="color:white">
                                @item.Member.Name
                            </h3>
                            <p style="font-size:15px">
                                發表時間: @Html.DisplayFor(modelitem => item.ModifiedDate)
                            </p>
                            @*<div style="overflow: hidden; word-wrap: break-word; white-space: pre-line;">

                    @Html.Raw(item.ReplyContents)

                    </div>*@

                            <div style="max-width:800px; overflow: hidden; word-wrap: break-word; white-space: pre-line;">
                                <p style="margin: 0; max-width:650px;font-size:30px ">
                                    @* @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ArticleContent) *@
                                    @Html.Raw(item.ReplyContents)
                                </p>
                            </div>



                            <br />
                            <div style="width:800px">
                                <p style="float:right">
                                    @if (Model.replies.First().MemberId == Context.Session.GetInt32(CDictionary.SK_UserID))
                                    {
                                        @* @Html.ActionLink("修改", "ReplyEdit", new { AFId = Model.articles.FirstOrDefault().ArticleId ,FId = Model.blogs.FirstOrDefault().BlogId, RFId =item.ReplyId})*@
                                        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action( "ReplyEdit","Blog", new { AFId = Model.articles.FirstOrDefault().ArticleId ,FId = Model.blogs.FirstOrDefault().BlogId, RFId =item.ReplyId})'">修改</button>

                                        @Html.ActionLink("刪除回覆", "ReplyDelete", new { AFId = Model.articles.FirstOrDefault().ArticleId, RFId = item.ReplyId, FId = Model.blogs.FirstOrDefault().BlogId }, new { onclick = "return confirm ('確定刪除嗎?')", @class = "btn btn-secondary" })

                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 獲取當前網址
            var currentUrl = window.location.href;

            // 將當前網址設定到輸入框中
            document.getElementById('urlToCopy').value = currentUrl;

            // 初始化 Clipboard.js
            var clipboard = new ClipboardJS('#copyButton', {
                text: function () {
                    return currentUrl;
                }
            });

            // 處理複製成功事件
            clipboard.on('success', function (e) {
                console.log('已複製到剪貼簿');
                e.clearSelection(); // 清除選擇，使輸入框不被選中
                alert("網址已複製成功");
            });
        });

        //彈出MODAL
        const btnlike = document.getElementById("btnLike");
        var splike = document.getElementById("spLike")

        if (!btnlike.hasAttribute('data-bs-toggle')) {
            btnlike.addEventListener('click', () => {
                fetch('@Url.Content("~/Blog/Like")?AFId=@Model.articles.FirstOrDefault().ArticleId')
                    .then(response => response.text())
                    .then(data => {
                        console.log(data)
                        splike.innerHTML = data
                    })
            })
        }



    </script>
}
