@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewBag.Title = "ArticleContent";
}



<div style="margin:0 auto;width:650px ;">
    <div style="border: 2px solid red;padding:3px;margin:5px;border-radius:5px">
    <div>
        <h2>
            @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().Title)
        </h2>
    </div> 

    <div>
        <p>
            @*超連結個人葉面*@
            樓主
            @Html.DisplayFor(modelItem=>Model.articles.FirstOrDefault().Member.Name) 
        </p>
    </div>
    <div>
        @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ArticleContent)
    </div>
    <div>
        @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ModifiedDate)
    </div style="margin:0 auto;width:650px ">

    @Html.ActionLink("Edit", "Edit", new { id = Model.articles.FirstOrDefault().ArticleId })
    @Html.ActionLink("刪除", "ArticleDelete", new { id = Model.articles.FirstOrDefault().ArticleId},new{ onclick= "return confirm ('確定刪除嗎?')"})
    </div>

    <div style="min-height: 650px;">
        @{
            int count = 0;
            foreach (var item in Model.replies)
          {
                count++;
                var memberName = from n in item.Member.Name
                              select n;
          <div style="border: 2px solid red;padding:3px;margin:5px;border-radius:5px">
           @count 樓 
           <h3>@item.Member.Name</h3>
           <br/>
           <h3>@Html.DisplayFor(modelitem=> item.ReplyContents)</h3>
           <br/>
           @Html.DisplayFor(modelitem=> item.ModifiedDate)
          </div>
         }
        }
    </div>
   

  

</div>