@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel
@using HtmlAgilityPack
@using System.Web
@{
    ViewBag.Title = "ArticleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8BO+DqSnC6xBg8yIcWHPXzxJsKn3XA2Tlkg8r7U5MDzY1ra2Qx54Vl8iIYiC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eZt+q1LQ4lO/dZ7JkqUy5m4qGu2zTpuKQFq6wC2FKeWBqy0i+xn2dOQ6BQFuMI6B" crossorigin="anonymous"></script>

</head>
<link rel="stylesheet" href="~/css/blogstyle.css" type="text/css">
@section Styles {
    <style>

        p {
            font-size: 12px;
        }

        a {
            text-decoration: none
        }

        .table-hover tbody tr:hover {
            background-color: #272727; /* 設定你想要的自定義顏色 */
        }
    </style>
}

<header class="header-section">
    <div class="nav-options">

        <div class="container">
            <div class="humberger-menu ">
                <a href="@Url.Action("List", "Blog",new{FId=Model.blogs.First().SubTagId})">@Model.subtagTitle</a>
            </div>

            <div class="nav-menu">
                <ul>
                    <li class="@(ViewBag.SelectedSubBlogId==null ? "selected-item":"" )">
                        <a href="@Url.Action("ArticleList", "Blog", new { FId = Model.blogs.FirstOrDefault().BlogId})">@Model.blogs.FirstOrDefault().Title</a>
                    </li>
                    @{
                        foreach (var item in Model.subBlogs.GroupBy(p => p.Title))
                        {
                            <li class="@(item.First().SubBlogId == ViewBag.SelectedSubBlogId ? "selected-item" : "")">
                                <a href="@Url.Action("ArticleList", "Blog", new {FId=item.First().BlogId ,SFId = item.FirstOrDefault().SubBlogId})">@item.Key</a>
                            </li>
                        }
                    }
                    <li style="float:right;">
                        @{
                            if (Context.Session.GetInt32(CDictionary.SK_UserID) == null)
                            {
                                <button style="background:#a81d1d ;border:none;height:52.5px" type="button" class="btn btn-danger" id="btnCreate" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    發表文章
                                </button>
                            }
                            else
                            {
                                @Html.ActionLink("發表文章", "ArticleCreate", "Blog", new { FId = Model.blogs.FirstOrDefault().BlogId }, new { id = "btnCreate", @class = "btn" })
                            }
                        }
                    </li>
                </ul>

            </div>
            <div>

                <div style="margin:3px 30%">

                    @using (Html.BeginForm())
                    {
                        @:關鍵字 @Html.TextBox("txtKeyword")
                        <input type="submit" value="查詢" />
                    }
                </div>
            </div>
        </div>

    </div>
</header>

@*<div style="display:flex;justify-content:center;margin-top:10px ">   
    <div>
        <img src="~/images/Blogimages/@Model.blogs.FirstOrDefault().FImagePath" alt="" width="800" height="200">
    </div>
</div>*@

<div style="display: flex; justify-content: center; margin-top: 10px;">
    <div>
        <img src="~/images/Blogimages/@Model.blogs.FirstOrDefault().FImagePath" alt="" style="min-width: 1250px; height:375px;">
    </div>
</div>



<div style="float:right;margin-right:20px;margin-left:20px;margin-top:30px;width:350px;background-color:#4F4F4F;box-shadow:0px 0px 8px 8px #cccccc;border-radius:8px">
    <div style="padding:10px">
        <table class="table table-hover" style="color:antiquewhite; ">
            <tr style="text-align:center;font-size:24px">
                <th>熱門文章</th>
            </tr>
            @{
                int num = 0;
                foreach (var t in Model.articles.OrderByDescending(a => a.ViewCount).Take(5))
                {
                    num++;
                    <tr>
                        <td>
                            <a style="text-decoration:none" href="@Url.Action("ArticleContent", "Blog", new {FId=t.SubBlog.BlogId, AFId =t.ArticleId}) ">
                                <p>【@t.SubBlog.Title】 @t.Title</p>
                            </a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<div class="container">
    <div class="row">

        @*------------------文章列表------------------*@

        <div style="margin:0px auto;margin-top:30px;">
            <div style="background-color:#4F4F4F;box-shadow:0px 0px 8px 8px #cccccc;border-radius:8px">
                <table class="table table-hover">
                    <tr>
                        <th>
                            <h4 style="color:antiquewhite;text-align:center">
                                文章標題
                            </h4>
                        </th>
                        <th>
                            <h4 style="color:antiquewhite;text-align:center">
                                互動/人氣
                            </h4>
                        </th>
                        <th>
                            <h4 style="color:antiquewhite;text-align:center">
                                最新回復
                            </h4>
                        </th>
                    </tr>

                    @{
                        foreach (var item in Model.articles)
                        {
                            <tr>
                                <td>
                                    <a style="text-decoration:none" href="@Url.Action("ArticleContent", "Blog", new {FId=item.SubBlog.BlogId, AFId =item.ArticleId}) ">
                                        <span style="color:	#FF8000;font-size:25px;font-weight:bold">
                                            【@item.SubBlog.Title】
                                        </span>
                                        <span style="font-size:25px;font-weight:bold">
                                            @item.Title<br />
                                        </span>
                                        <span style="color:#E0E0E0">
                                            @*--------------------------顯示內文--------------------------------*@
                                            @{
                                                string content = item.ArticleContent;
                                                HtmlAgilityPack.HtmlDocument htmlDoc = new HtmlAgilityPack.HtmlDocument();
                                                htmlDoc.LoadHtml(content);
                                                var textNodes = htmlDoc.DocumentNode.SelectNodes("//text()[not(parent::img)]");
                                                string textContent = textNodes != null
                                                ? string.Join(" ", textNodes.Select(node => System.Web.HttpUtility.HtmlDecode(node.InnerHtml.Trim())))
                                                : "";

                                                // 截取前30个字符
                                                // 30字符以後以...作替代
                                                string truncatedContent = textContent.Length > 30 ? textContent.Substring(0, 30) + "...": textContent ;
                                                
                                                @Html.Raw(truncatedContent)
                                            }
                                        </span>
                                    </a>
                                </td>
                                <td style="color:wheat;font-size:15px;text-align:center">
                                    @((item.Replies != null) ? item.Replies.Count() : 0) / @* 回文次數 *@@Html.DisplayFor(modelItem => item.ViewCount)               @* 瀏覽次數 *@
                                    <br />
                                    <p style="text-align:center;font-size:12px"> @Html.ActionLink(item.Member.Name,"MemberPageTest","Member",new{id=item.MemberId}) </p>  @* 預計顯示作者名稱在發文時間下面 *@

                                </td>
                                <td style="color:wheat;font-size:10px ;">
                                    @{


                                        if (item.Replies.Any(r => r.ArticleId == item.ArticleId))
                                        {
                                            <p style="text-align:center ;font-size:15px">@item.Replies.LastOrDefault().ModifiedDate</p>
                                            <br />
                                            <p style="text-align:center ;font-size:15px">@Html.ActionLink(Model.members.Where(m => m.MemberId == item.Replies.LastOrDefault().MemberId).Select(m => m.Name).FirstOrDefault(), "MemberPageTest", "Member", new { id = Model.members.Where(m => m.MemberId == item.Replies.LastOrDefault().MemberId).Select(m => m.MemberId).FirstOrDefault() })</p>                                            
                                        }
                                        else
                                        {
                                            <p style="text-align:center ;font-size:15px">@item.ModifiedDate</p>                                           
                                            <p style="text-align:center;font-size:12px"> @Html.ActionLink(item.Member.Name, "MemberPageTest", "Member", new { id = item.MemberId }) </p>  @* 預計顯示作者名稱在發文時間下面 *@
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>




    </div>
</div>
@section Scripts {
    <script>

    </script>
        }
