@* @model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Article> *@
@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewBag.Title = "ArticleContent";
}



<div style="margin:0 auto;width:650px ;">
    <div>
        <h2>
            @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().Title)
        </h2>
    </div>
    <div>
        <p>
            @*超連結個人葉面*@
            @Html.DisplayFor(modelItem=>Model.articles.FirstOrDefault().Member.Name)
        </p>
    </div>
    <div>
        @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ArticleContent)
    </div>
    <div>
        @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ModifiedDate)
    </div style="margin:0 auto;width:650px ">

    @Html.ActionLink("Edit", "Edit", new { id = Model.articles.FirstOrDefault().ArticleId })
    @Html.ActionLink("刪除", "ArticleDelete", new { id = Model.articles.FirstOrDefault().ArticleId},new{ onclick= "return confirm ('確定刪除嗎?')"})

    <div style="min-height: 650px;">
        @foreach (var item in Model.replies){

            var memberName = from n in item.Member.Name
                              select n;

@* where n.MemberId == Model.replies.FirstOrDefault().MemberId
                                select n.Name).FirstOrDefault();*@

        <h3>@item.Member.Name</h3>
        <br/>
        <h3>@Html.DisplayFor(modelitem=> item.ReplyContents)</h3>
        <br/>
        <h3>@Html.DisplayFor(modelitem=> item.ModifiedDate)</h3>
        }

    </div>
   

  

    </div>


