@* @model IEnumerable<prjDB_GamingForm_Show.ViewModels.CBlogViewModel> *@
    @model prjDB_GamingForm_Show.ViewModels.CBlogViewModel
@{
    ViewBag.Title = "ArticleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ArticleList</h2>

@*<div>
    @Html.ActionLink("發表文章", "ArticleCreate", "Blog", new { FId = Model.blogs.FirstOrDefault().BlogID},null)
</div>*@
<div style="margin:0 auto;width:650px;">
    <ul style="list-style:none">
        <li style="float: left ;margin:0 10px;">

            <a href="@Url.Action("ArticleList", "Blog", new { Fid = Model.blogs.FirstOrDefault().BlogId @*.FirstOrDefault().blogs.FirstOrDefault().BlogId*@ })">全部</a>
        </li>
          @foreach (var item in Model.subBlogs.GroupBy(p => p.Title))
          {
@*           <li style="float: left; margin: 0 10px;">
           <a href="@Url.Action("ArticleList", "Blog", new { FId = item.FirstOrDefault().SubBlog.BlogID})">@item.Key</a>
          </li>*@
          }
    </ul>
</div>
<div style="margin:0 auto;width:650px;">

    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.articles.FirstOrDefault().Title)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.articles.FirstOrDefault().ModifiedDate)
            </th>

        </tr>

        @{
            foreach (var item in Model.articles)
            {
                <tr>

                    <td>
                        <a style="text-decoration:none" href="@Url.Action("ArticleContent", "Blog", new { AFId =item.ArticleId}) ">@item.Title</a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>

                </tr>
            }
        }

    </table>
</div>
