@*@model prjDB_GamingForm_Show.Models.Entities.Article*@
@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel
@{
    ViewData["Title"] = "ArticleEdit";
}
@section Styles{
    <style>
        input{
            margin:3px 0px;

        }
        label{
            margin:3px 0px;
        }
    </style>
}
<h2 style="text-align:center;margin:10px auto;color:whitesmoke">修改文章</h2>


<div class="row" style="margin:10px auto;width:650px;background-color:#4F4F4F">
    <div class="col-md-12" style="background-color:#4F4F4F;border-radius:8px;box-shadow:0px 0px 8px 8px #cccccc">
        <form asp-action="ArticleEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <input type="hidden" name="ArticleId" value="@Model.articles.FirstOrDefault().ArticleId" />
            <input type="hidden" name="AFId" value="@Model.articles.FirstOrDefault().ArticleId" />
            <input type="hidden" name="FId" value="@Model.blogs.FirstOrDefault().BlogId" />
            @{

                <select name="SubBlogID" class="form-select" style="margin-top:8px">
                    @foreach (var i in Model.subBlogs)
                    {
                        <option value="@i.SubBlogId">@i.Title</option>
                    }
                </select>
            }
            <div class="form-group">
                <label asp-for="articles.FirstOrDefault().Title" class="control-label"></label>
                <input asp-for="articles.FirstOrDefault().Title" class="form-control" />
                <span asp-validation-for="articles.FirstOrDefault().Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="articles.FirstOrDefault().ArticleContent" class="control-label"></label>
                <input asp-for="articles.FirstOrDefault().ArticleContent" class="form-control" />
                <span asp-validation-for="articles.FirstOrDefault().ArticleContent" class="text-danger"></span>
            </div>
            <input type="hidden" name="ModifiedDate" value="@DateTime.Now" />
            <input type="hidden" name="MemberId" value="15" />
        
            <div class="form-group">
                <input type="submit" value="修改" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("回列表","ArticleContent","Blog",new{AFId= Model.articles.FirstOrDefault().ArticleId,FId=Model.blogs.FirstOrDefault().BlogId},null)
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
