@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewBag.Title = "ArticleContent";
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pzjw8BO+DqSnC6xBg8yIcWHPXzxJsKn3XA2Tlkg8r7U5MDzY1ra2Qx54Vl8iIYiC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-eZt+q1LQ4lO/dZ7JkqUy5m4qGu2zTpuKQFq6wC2FKeWBqy0i+xn2dOQ6BQFuMI6B" crossorigin="anonymous"></script>
</head>
@section Styles {
    <style>
        a {
            text-decoration: none;
        }
    </style>
}
<link rel="stylesheet" href="~/css/blogstyle.css" type="text/css">
<header class="header-section">
    <div class="nav-options">

        <div class="container">
            <div class="humberger-menu ">
                @Html.ActionLink("前往首頁", "List", "Blog")
            </div>

            <div class="nav-menu">
                <ul>
                    <li>
                        <a href="@Url.Action("ArticleList", "Blog", new { FId = Model.blogs.FirstOrDefault().BlogId})">@Model.blogs.FirstOrDefault().Title</a>
                    </li>
                    @{
                        foreach (var item in Model.subBlogs.GroupBy(p => p.Title))
                        {
                            <li>
                                <a href="@Url.Action("ArticleList", "Blog", new {FId=item.First().BlogId ,SFId = item.FirstOrDefault().SubBlogId})">@item.Key</a>
                            </li>
                        }
                    }
                    <li style="float:right;">
                        @{
                            if (Context.Session.GetInt32(CDictionary.SK_UserID) == null)
                            {
                                <button style="background:#a81d1d ;border:none;height:52.5px" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    發表回覆
                                </button>
                            }
                            else
                            {
                                @Html.ActionLink("發表回覆", "ReplyCreate", "Blog", new { AFId = Model.articles.FirstOrDefault().ArticleId, FId = Model.blogs.FirstOrDefault().BlogId }, new { @class = "btn" })
                            }
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
@*-----------------------------------<!-- ArticleContent -->---------------------------------------------------*@
<div style="margin-top:8px">
    <div style="margin: 0 auto; width: 940px">
        <div style="border: 2px solid red; padding: 3px; margin: 5px; border-radius: 5px; display:flex;background-color:#4F4F4F">
            <div style="display: flex;">
                <div style="margin-right: 10px;">
                    @{
                        var author = Model.articles.FirstOrDefault()?.Member;
                        if (author != null)
                        {
                            <img src="~/images/@author.FImagePath" alt="" style="max-width: 100px;border-radius: 50%;">
                        }
                    }
                </div>



                <div style="flex-grow: 1;">
                    <!-- 使用 flex-grow: 1; 讓這個區塊填滿剩餘的寬度 -->


                    <h1 style="color:white">
                        @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().Title)
                    </h1>

                    <div>
                        @* 超連結個人頁面 *@
                        <span>樓主 : </span>
                        <span style="color:white">
                            @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().Member.Name)
                        </span>
                    </div>
                    <div style="max-width:800px; overflow: hidden; word-wrap: break-word; white-space: pre-line;border-bottom:1px dotted black;border-top:1px dotted black">
                        <p style="margin: 0; max-width:650px;font-size:30px ">
                            @* @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ArticleContent) *@
                            @Html.Raw(Model.articles.FirstOrDefault().ArticleContent)
                        </p>
                    </div>
                    <div style="width:800px; ">
                        <p style="font-size:15px;text-align:right">
                            發表時間: @Html.DisplayFor(modelItem => Model.articles.FirstOrDefault().ModifiedDate)
                        </p>
                        @*//Todo:讚用ajax*@
                        @{
                            int like = 0;
                            if (Context.Session.GetInt32(CDictionary.SK_UserID) == null)
                            {
                                <button type="button" class="btn btn-danger" id="btnLike" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
                                    <img src="~/images/like.png" alt="Like" width="20px" height="20px" />
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-danger" id="btnLike" style="float:left">
                                    <img src="~/images/like.png" alt="Like" width="20px" height="20px" />
                                </button>
                            }
                            like = Model.articleActions.Count(a => a.ActionId == 1);
                            <span id="spLike" style="font-size:25px;clear:both">
                                @like
                            </span>
                        }



                        @if (Model.articles.First().MemberId == Context.Session.GetInt32(CDictionary.SK_UserID))
                        {

                            <button type="button" class="btn btn-warning" style="float:right;margin: 0 5px" onclick="location.href='@Url.Action( "ArticleEdit","Blog", new { AFId = Model.articles.FirstOrDefault().ArticleId ,FId = Model.blogs.FirstOrDefault().BlogId})'">修改</button>
                            <button type="button" class="btn btn-secondary" style="float:right;margin:0 5px" onclick="ArticleDelete()">刪除文章</button>
                        }
                        <script>
                            function ArticleDelete() {
                                var result = confirm('確定刪除嗎?');
                                if (result) {
                                    location.href = '@Html.Raw(Url.Action("ArticleDelete", "Blog", new { FId = Model.blogs.FirstOrDefault().BlogId, AFId = Model.articles.FirstOrDefault().ArticleId }))';
                                }
                            }
                        </script>
                        <!-- HTML 中的按鈕 -->
                        <button id="copyButton" class="btn btn-info" data-clipboard-target="#urlToCopy" style="float:right;margin:0 5px">分享</button>
                        <!-- 顯示的網址 -->
                        <input type="hidden" id="urlToCopy" value="" readonly>

                        @*------FB按鈕------*@
                        <img src="~/images/fbicon.png" onclick="shareOnFacebook()" alt="Like" width="45px" height="45px" style="float:right;margin:0 5px" />

                        <script>
                            function shareOnFacebook() {
                                // 使用 window.open 在新視窗中打開 Facebook 分享連結
                                window.open('https://www.facebook.com/sharer.php?u=https://localhost:7056/Blog/ArticleContent?FId=@(Model.blogs?.FirstOrDefault()?.BlogId)&AFId=@(Model.articles?.FirstOrDefault()?.ArticleId)', '_blank');
                            }
                        </script>

                        @*------FB按鈕------*@


                        <div style="float:right">

                            @*------Line按鈕------*@
                            @{
                                <div class="line-it-button"
                                     data-lang="zh_Hant"
                                     data-type="share-c"
                                     data-env="REAL"
                                     data-url="https://localhost:7056/Blog/ArticleContent?FId=@(Model.blogs?.FirstOrDefault()?.BlogId)&AFId=@(Model.articles?.FirstOrDefault()?.ArticleId)"
                                     data-color="default"
                                     data-size="large"
                                     data-count="false"
                                     data-ver="3"
                                     style="float:right ;margin:5px">
                                </div>
                                <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
                            }
                            @*------Line按鈕------*@




                        </div>





                        @*<div>
                        @if (Model.articles.First().MemberId == Context.Session.GetInt32(CDictionary.SK_UserID))
                        {

                        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action( "ArticleEdit","Blog", new { AFId = Model.articles.FirstOrDefault().ArticleId ,FId = Model.blogs.FirstOrDefault().BlogId})'">修改</button>
                        <button type="button" class="btn btn-secondary" onclick="ArticleDelete()">刪除文章</button>
                        }
                        <script>
                        function ArticleDelete() {
                        var result = confirm('確定刪除嗎?');
                        if (result) {
                        location.href = '@Html.Raw(Url.Action("ArticleDelete", "Blog", new { FId = Model.blogs.FirstOrDefault().BlogId, AFId = Model.articles.FirstOrDefault().ArticleId }))';
                        }
                        }
                        </script>
                        </div>*@




                    </div>
                </div>
            </div>
        </div>

        <!-- Replies -->
        <div style="margin: 0 auto; ">

            @{
                int count = 0;
                foreach (var item in Model.replies)
                {
                    count++;
                    <div style="border: 2px solid red; padding: 3px; margin: 8px 0; border-radius: 5px;display: flex;background-color:#4F4F4F">
                        <div div style="margin-right: 10px;">
                            @{
                                var replyAuthor = item.Member;
                                if (replyAuthor != null)
                                {
                                    <img src="~/images/@replyAuthor.FImagePath" alt="" style="max-width: 100px; border-radius: 50%;">
                                }
                            }
                        </div>
                        <div style="flex-grow: 1;">
                            <div style="margin:8px 0">
                                <span style="font-size:18px">
                                    @count 樓 : @item.Member.Name
                                </span>
                            </div>
                            <div style="max-width:800px; overflow: hidden; word-wrap: break-word; white-space: pre-line;border-bottom:1px dotted black;border-top:1px dotted black">
                                <p style="margin: 0; max-width:650px;font-size:30px ">

                                    @Html.Raw(item.ReplyContents)
                                </p>
                            </div>
                            <div>
                                <p style="font-size:15px;text-align:right">
                                    發表時間: @Html.DisplayFor(modelitem => item.ModifiedDate)
                                </p>
                            </div>


                            <br />
                            <div style="width:800px">
                                <p style="float:right">
                                    @if (Model.replies.First().MemberId == Context.Session.GetInt32(CDictionary.SK_UserID))
                                    {
                                        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action( "ReplyEdit","Blog", new { AFId = Model.articles.FirstOrDefault().ArticleId ,FId = Model.blogs.FirstOrDefault().BlogId, RFId =item.ReplyId})'">修改</button>

                                        @Html.ActionLink("刪除回覆", "ReplyDelete", new { AFId = Model.articles.FirstOrDefault().ArticleId, RFId = item.ReplyId, FId = Model.blogs.FirstOrDefault().BlogId }, new { onclick = "return confirm ('確定刪除嗎?')", @class = "btn btn-secondary" })

                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>


@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 獲取當前網址
            var currentUrl = window.location.href;

            // 將當前網址設定到輸入框中
            document.getElementById('urlToCopy').value = currentUrl;

            // 初始化 Clipboard.js
            var clipboard = new ClipboardJS('#copyButton', {
                text: function () {
                    return currentUrl;
                }
            });

            // 處理複製成功事件
            clipboard.on('success', function (e) {
                console.log('已複製到剪貼簿');
                e.clearSelection(); // 清除選擇，使輸入框不被選中
                alert("網址已複製成功");
            });
        });

        //彈出MODAL
        const btnlike = document.getElementById("btnLike");
        var splike = document.getElementById("spLike")

        if (!btnlike.hasAttribute('data-bs-toggle')) {
            btnlike.addEventListener('click', () => {
                fetch('@Url.Content("~/Blog/Like")?AFId=@Model.articles.FirstOrDefault().ArticleId')
                    .then(response => response.text())
                    .then(data => {
                        console.log(data)
                        splike.innerHTML = data
                    })
            })
        }



    </script>
}
