@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewData["Title"] = "ReplyEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor5-build-classic/ckeditor.js"></script>
<link rel="stylesheet" href="~/css/blogstyle.css" type="text/css">
@section Styles{
    <style>
        input {
            margin-top: 5px;
        }

        .ck {
            height: 650px;
        }

        .ck-editor__editable {
            color: black
        }

        input {
            margin: 3px
        }
    </style>
}

<h2 style="text-align:center;margin:10px auto;color:whitesmoke">留言修改</h2>

<div>

    <div class="row" style="margin:10px auto;width:650px;background-color:#4F4F4F">

        <div class="col-md-12" style="background-color:#4F4F4F;border-radius:8px;box-shadow:0px 0px 8px 8px #cccccc">

            <form asp-action="ReplyEdit">
                <input type="hidden" name="ModifiedDate" value="@DateTime.Now" />
                <input type="hidden" name="MemberId" value="@Context.Session.GetInt32(CDictionary.SK_UserID)" />
                <input type="hidden" name="FId" value="@Model.blogs.FirstOrDefault().BlogId" />
                <input type="hidden" name="AFId" value=" @Model.articles.First().ArticleId" />
                <input type="hidden" name="ArticleId" value=" @Model.articles.First().ArticleId" />
                <input type="hidden" name="RFId" value=" @Model.replies.FirstOrDefault().ReplyId" />
                <div>
                    <textarea name="ReplyContents" id="editor" style="resize:none; height:700px;margin:3px">                    
                </textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="確認修改" class="btn btn-default" />
                    <p style="margin:3px; float:right;text-align:right">
                        @Html.ActionLink("回到文章","ArticleContent","Blog",new{AFId= Model.articles.FirstOrDefault().ArticleId,FId=Model.blogs.FirstOrDefault().BlogId},new{
                        @class="btn btn-warning"
                        })
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            ClassicEditor
                .create(document.querySelector('#editor'), {
                    extraPlugins: [MyCustomUploadAdapterPlugin],
                })
                .catch(error => {
                    console.log(error);
                });
        });

        class MyUploadAdapter {
            constructor(loader) {
                // The file loader instance to use during the upload.
                this.loader = loader;
            }

            // Starts the upload process.
            upload() {
                var reader = new FileReader();

                return new Promise((resolve, reject) => {
                    reader.addEventListener('load', () => {
                        resolve({ default: reader.result });
                    });

                    reader.addEventListener('error', err => {
                        reject(err);
                    });

                    reader.addEventListener('abort', () => {
                        reject();
                    });

                    this.loader.file.then(file => {
                        reader.readAsDataURL(file);
                    });
                })
            }

            // Aborts the upload process.
            abort() {
                if (this.xhr) {
                    this.xhr.abort();
                }
            }

            // Initializes the XMLHttpRequest object using the URL passed to the constructor.
            _initRequest() {
                const xhr = (this.xhr = new XMLHttpRequest());

                // Note that your request may look different. It is up to you and your editor
                // integration to choose the right communication channel. This example uses
                // a POST request with JSON as a data structure but your configuration
                // could be different.
                xhr.open("POST", "/Home/ImageTest", true);
                xhr.responseType = "json";
            }

            // Initializes XMLHttpRequest listeners.
            _initListeners(resolve, reject, file) {
                const xhr = this.xhr;
                const loader = this.loader;
                const genericErrorText = `無法上傳檔案: ${file.name}.`;

                xhr.addEventListener("error", () => reject(genericErrorText));
                xhr.addEventListener("abort", () => reject());
                xhr.addEventListener("load", () => {
                    const response = xhr.response;

                    console.log('response', response);

                    // This example assumes the XHR server's "response" object will come with
                    // an "error" which has its own "message" that can be passed to reject()
                    // in the upload promise.
                    //
                    // Your integration may handle upload errors in a different way so make sure
                    // it is done properly. The reject() function must be called when the upload fails.
                    if (!response || response.error) {
                        return reject(response && response.error ? response.error.message : genericErrorText);
                    }

                    // If the upload is successful, resolve the upload promise with an object containing
                    // at least the "default" URL, pointing to the image on the server.
                    // This URL will be used to display the image in the content. Learn more in the
                    // UploadAdapter#upload documentation.
                    resolve({
                        default: response.url,
                    });
                });

                // Upload progress when it is supported. The file loader has the #uploadTotal and #uploaded
                // properties which are used e.g. to display the upload progress bar in the editor
                // user interface.
                if (xhr.upload) {
                    xhr.upload.addEventListener("progress", evt => {
                        if (evt.lengthComputable) {
                            loader.uploadTotal = evt.total;
                            loader.uploaded = evt.loaded;
                        }
                    });
                }
            }

            // Prepares the data and sends the request.
            _sendRequest(file) {
                // Prepare the form data.
                const data = new FormData();

                data.append("Files", file);

                console.log('file:', file);

                // Important note: This is the right place to implement security mechanisms
                // like authentication and CSRF protection. For instance, you can use
                // XMLHttpRequest.setRequestHeader() to set the request headers containing
                // the CSRF token generated earlier by your application.


                // Create a div element instead of a p element
                const progressContainer = document.createElement('div');
                progressContainer.classList.add('progress-container');

                // Create a div element for the progress bar
                const progressBar = document.createElement('div');
                progressBar.classList.add('progress-bar');
                progressContainer.appendChild(progressBar);

                // Important note: This is the right place to implement security mechanisms
                // like authentication and CSRF protection. For instance, you can use
                // XMLHttpRequest.setRequestHeader() to set the request headers containing
                // the CSRF token generated earlier by your application.

                // Append the progress container to the document or a specific element
                document.body.appendChild(progressContainer);


                // Send the request.
                this.xhr.send(data);
            }
        }

        // ...
        function MyCustomUploadAdapterPlugin(editor) {
            editor.plugins.get("FileRepository").createUploadAdapter = loader => {
                // Configure the URL to the upload script in your back-end here!
                return new MyUploadAdapter(loader);
            };
        }


    </script>
}
