@model prjDB_GamingForm_Show.ViewModels.CBlogViewModel

@{
    ViewData["Title"] = "ReplyEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReplyEdit</h2>

<h4>CBlogViewModel</h4>
<hr />
<div class="row">
   
    <div class="col-md-4">

        <form asp-action="ReplyEdit">
        <input type="hidden" name="ModifiedDate" value="@DateTime.Now" />
        <input type="hidden" name="MemberId" value="15" />

        <input type="hidden" name="FId" value="@Model.blogs.FirstOrDefault().BlogId" />
        <input type="hidden" name="AFId" value=" @Model.articles.First().ArticleId" />
        <input type="hidden" name="ArticleId" value=" @Model.articles.First().ArticleId" />


        <input type="hidden" name="RFId" value=" @Model.replies.FirstOrDefault().ReplyId" />
        @*    <input type="hidden" name="ReplyId" value=" @Model.replies.FirstOrDefault().ReplyId" />*@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="replies.First().ReplyContents" class="control-label"></label>
                <textarea name="ReplyContents" class="form-control" style="width:600px;height:400px"></textarea>
                <span asp-validation-for="replies.First().ReplyContents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="List">返回</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
