@model prjDB_GamingForm_Show.Models.Entities.Depute

@{
    ViewData["Title"] = "Apply";
    Layout = "~/Views/Shared/_Layout_DB.cshtml";
}

<h2 class="mt-5">應徵</h2>

<h4>請輸入您的應徵資訊</h4>
<hr class="col-10" />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Apply" id="formElement">
            <div class="form-group">
                <label class="control-label">委託主題：</label>
                <input class="form-control" type="text" value="@Model.Title" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">委託內容：</label>
                <textarea class="form-control" type="text" rows="6" disabled>@Model.DeputeContent</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">提供報酬：</label>
                <input class="form-control" type="text" value="@Model.Salary.ToString("$###,###,##0.00")" disabled />
            </div>
            <div class="form-group" hidden>
                <label asp-for="DeputeId" class="control-label"></label>
                <input name="DeputeId" value="@Model.DeputeId" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label class="control-label">會員編號</label>
                <input name="MemberId" value="@ViewBag.memberid" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label class="control-label">ApplyStatusId</label>
                <input name="ApplyStatusId" value="5" class="form-control" />
            </div>
            <div>
                <label class="control-label">自我推薦(選填)：</label>
                <br />
                <label class="control-label">寫下工作相關經驗，個人特質或專長，提升錄取率吧</label>
                <textarea class="form-control" name="RecordContent" rows="4" cols="50" placeholder="在這裡輸入您的應徵補充資訊..."></textarea>
            </div>
            <div class="form-group mt-3">
                <a asp-action="DeputeMain" class="btn btn-secondary">返回</a>
                <input type="button" value="送出並應徵" onclick="prepareAndSubmit()" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        async function prepareAndSubmit() {
            const formElement = document.querySelector('#formElement');
            const formdata = new FormData(formElement);
            const response = await fetch('@Url.Content("~/depute/Apply")', {
                method: 'POST',
                body: formdata
            });
            const result = await response.json();
            const icon = result.success ? "success" : "error";
            if (result.success) {
                Swal.fire({
                    timer: 3000,
                    timerProgressBar: true,
                    title: `${result.message}`,
                    text: "2秒後轉回委託頁面",
                    icon: `${icon}`
                }).then(() => {
                    window.location.href = '@Url.Action("homeframe","depute")';
                })
            };
        }

        document.addEventListener('DOMContentLoaded', () => {
            if (@Model.StatusId== 10 || @Model.StatusId== 20) {
                Swal.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    timer: 5000,
                    timerProgressBar: true,
                    title: "合作中",
                    text: "合作中委託無法應徵，將於5秒後跳轉委託頁面",
                    icon: "warning"
                }).then(() => {
                    window.location.href = '@Url.Action("DeputeMain","depute")';
                })
            };
        })
    </script>
}