@model prjDB_GamingForm_Show.Models.Entities.Depute

@{
    ViewData["Title"] = "Apply";
    Layout = "~/Views/Shared/_Layout_DB.cshtml";
}

<h2 class="mt-5">應徵</h2>
<div hidden id="bossname">@Model.Provider.Name</div>
<div hidden>@Model.ProviderId</div>
<h4>請輸入您的應徵資訊</h4>
<hr class="col-10" />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Apply" id="formElement">
            <div class="form-group row">
                <div class="col-6">
                <label class="control-label">委託主題：</label>
                <input class="form-control" type="text" value="@Model.Title" disabled />
                </div>
                <div class="col-6">
                <label class="control-label">提供報酬：</label>
                <input class="form-control" type="text" value="@Model.Salary.ToString("$###,###,##0.00")" disabled />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">委託內容：</label>
                <textarea class="form-control" type="text" rows="6" disabled>@Model.DeputeContent</textarea>
            </div>
            <div class="form-group">
            </div>
            <div class="form-group" hidden>
                <label asp-for="DeputeId" class="control-label"></label>
                <input name="DeputeId" value="@Model.DeputeId" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label class="control-label">會員編號</label>
                <input name="MemberId" value="@Context.Session.GetInt32(CDictionary.SK_UserID)" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label class="control-label">ApplyStatusId</label>
                <input name="ApplyStatusId" value="5" class="form-control" />
            </div>
            <div>
                <label class="control-label">自我推薦(選填)：</label>
                <button type="button" onclick="showPreContent()" class="btn btn-warning btn-sm">使用其他範本</button>
                <br />
                <label class="control-label">寫下工作相關經驗，個人特質或專長，提升錄取率吧</label>
                <textarea class="form-control" name="RecordContent" rows="4" cols="50" placeholder="在這裡輸入您的應徵補充資訊..." id="RecordContent"></textarea>
            </div>
            <div class="form-group mt-3">
                <a asp-action="DeputeMain" class="btn btn-secondary">返回</a>
                <input id="wantmoney" type="button" value="送出並應徵" onclick="prepareAndSubmit()" class="btn btn-success" />
                <button type="button" class="btn btn-dark btn-sm" onclick="DEMO(1)">Demo火爆小鳥</button>
                <button type="button" class="btn btn-dark btn-sm" onclick="DEMO(2)">Demo黃鴨</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function DEMO(step) {
            switch (step) {
                case 1:
                    $('#RecordContent')[0].value = `您好，我是一位充滿熱情的遊戲愛好者和創意開發者。
雖然我在遊戲開發方面的經驗尚待增長，但我對於學習和創建新事物的熱忱無限。
對於製作這樣的委託項目，我充滿興趣並願意全力以赴，投入我所有的創造力和努力。`;
                    break;
                case 2:
                    $('#RecordContent')[0].value = `您好！
我是一位具有豐富多元技能的專業人士，擁有程式開發和美術設計的雙重專長。
在程式方面，我熟悉多種編程語言和開發工具，能夠靈活運用於遊戲開發。
同時，我對美術設計充滿熱情，能夠創造引人入勝的視覺效果和角色設計。我善於融合技術與藝術，創造出獨特而吸引人的遊戲體驗。
無論是從技術實現或美術創作角度，我都能為神奇寶貝的遊戲開發貢獻我的力量，追求卓越和創新。`;
                    break;
            }
        }


        function sendMessageBySignalR() {
            let message = `您的委託-@Model.Title，有新的應徵`
            let sendToUserName = $('#bossname').text() // 接收者的使用者名稱
            console.log(sendToUserName)
            // 新增：呼叫 SignalR Hub 方法獲取接收者的 SignalR ID
            getSignalRIdByUserName(sendToUserName).then(function (connectionId) {
                // 修改：傳送訊息時使用接收者的 SignalR ID
                connection.invoke("SystemMessage", "委託", message, connectionId, sendToUserName).catch(function (err) {
                    console.error('傳送錯誤: ' + err.toString());
                });
            });
        };
        function getSignalRIdByUserName(userName) {
            return new Promise((resolve, reject) => {
                connection.invoke("GetConnectionIdByUserName", userName).then(function (connectionId) {
                    // 在這裡可以使用 connectionId 進行相應的處理
                    resolve(connectionId);
                }).catch(function (err) {
                    reject(err);
                });
            });
        }

        async function showPreContent() {
            const response = await fetch(`@Url.Content("~/depute/myApplyContent")`);
            const datas = await response.json();
            const content = datas.map(content => `<a class="list-group-item list-group-item-action text-start text-truncate" id="list-${content.content}-list" data-bs-toggle="list" href="#list-${content.content}" role="tab" aria-controls="list-${content.content}">${content.content}</a>`);
            const { value: formValues } = await Swal.fire({
                color: "#D0D0D0",
                background: "#343a40",
                scrollbarPadding: false,
                title: "自我推薦範本",
                html: `<div class="list-group" id="list-tab" role="tablist">${content.join("")}</div>`,
                focusConfirm: false,
                confirmButtonText:"確認",
                preConfirm: () => {
                    return [
                        document.querySelector(".list-group-item.list-group-item-action.active")
                    ];
                }
            });
            if (formValues) {
                console.log(formValues[0].textContent);
                document.querySelector('#RecordContent').value = formValues[0].textContent;
            }
           
        }

        async function prepareAndSubmit() {
            const formElement = document.querySelector('#formElement');
            const formdata = new FormData(formElement);
            const response = await fetch('@Url.Content("~/depute/Apply")', {
                method: 'POST',
                body: formdata
            });
            const result = await response.json();
            const icon = result.success ? "success" : "error";
            if (result.success) {
                sendMessageBySignalR();
                Swal.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    timer: 4000,
                    timerProgressBar: true,
                    title: `${result.message}`,
                    html: "將於<b></b>秒跳轉委託首頁",
                    icon: `${icon}`,
                    didOpen: () => {
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("b");
                        timerInterval = setInterval(function() {
                            timer.textContent = `${(Swal.getTimerLeft() / 1000).toFixed(0)}`;
                            if (++timer.textContent < 0) {
                                clearInterval(timerInterval);
                            }
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                        window.location.href = '@Url.Action("homeframe", "depute")';
                    }
                })
            };
        }

        document.addEventListener('DOMContentLoaded', () => {
            var status = "";

            if (@Model.StatusId== 10 || @Model.StatusId== 20) {
                status = "合作中委託無法應徵";
                changeHref()
            }
            else if (@Model.StatusId== 19) {
                status = "關閉中委託無法應徵";
                changeHref()
            }
            else if (@Model.StatusId== 16) {
                status = "該委託已完成無法應徵";
                changeHref()
            }
            else if (@Model.ProviderId== @Context.Session.GetInt32(CDictionary.SK_UserID)) {
                status = "無法應徵自己的委託";
                changeHref()
            }
            else if (@Context.Session.GetInt32(CDictionary.SK_會員狀態編號) == 26) {
                status = "被封鎖會員無法進行此操作";
                changeHref()
            }
            function changeHref() {
                Swal.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    timer: 4000,
                    timerProgressBar: true,
                    title: `${status}`,
                    html: "將於<b></b>秒跳轉前頁",
                    icon: "warning",
                    didOpen: () => {
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("b");
                        timerInterval = setInterval(() => {
                            timer.textContent = `${(Swal.getTimerLeft() / 1000).toFixed(0)}`;
                            if (++timer.textContent < 0) {
                                clearInterval(timerInterval);
                            }
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                        window.location.href = '@ViewBag.preUrl';
                    }
                })
            }
        })
    </script>
}