@model prjDB_GamingForm_Show.Models.Entities.Depute

@{
    ViewData["Title"] = "Apply";
    Layout = "~/Views/Shared/_Layout_DB.cshtml";
}

<h2 class="mt-5">應徵</h2>
<div hidden id="bossname">@Model.Provider.Name</div>
<div hidden>@Model.ProviderId</div>
<h4>請輸入您的應徵資訊</h4>
<hr class="col-10" />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Apply" id="formElement">
            <div class="form-group">
                <label class="control-label">委託主題：</label>
                <input class="form-control" type="text" value="@Model.Title" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">委託內容：</label>
                <textarea class="form-control" type="text" rows="6" disabled>@Model.DeputeContent</textarea>
            </div>
            <div class="form-group">
                <label class="control-label">提供報酬：</label>
                <input class="form-control" type="text" value="@Model.Salary.ToString("$###,###,##0.00")" disabled />
            </div>
            <div class="form-group" hidden>
                <label asp-for="DeputeId" class="control-label"></label>
                <input name="DeputeId" value="@Model.DeputeId" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label class="control-label">會員編號</label>
                <input name="MemberId" value="@Context.Session.GetInt32(CDictionary.SK_UserID)" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label class="control-label">ApplyStatusId</label>
                <input name="ApplyStatusId" value="5" class="form-control" />
            </div>
            <div>
                <label class="control-label">自我推薦(選填)：</label>
                <button type="button" onclick="showPreContent()" class="btn btn-warning btn-sm">使用其他範本</button>
                <br />
                <label class="control-label">寫下工作相關經驗，個人特質或專長，提升錄取率吧</label>
                <textarea class="form-control" name="RecordContent" rows="4" cols="50" placeholder="在這裡輸入您的應徵補充資訊..." id="RecordContent"></textarea>
            </div>
            <div class="form-group mt-3">
                <a asp-action="DeputeMain" class="btn btn-secondary">返回</a>
                <input id="wantmoney" type="button" value="送出並應徵" onclick="prepareAndSubmit()" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        // $('#wantmoney').on('click', sendMessageBySignalR);
        
        function sendMessageBySignalR() {
            let message = `您的委託-@Model.Title，有新的應徵`
            let sendToUserName = $('#bossname').text() // 接收者的使用者名稱
            console.log(sendToUserName)
            // 新增：呼叫 SignalR Hub 方法獲取接收者的 SignalR ID
            getSignalRIdByUserName(sendToUserName).then(function (connectionId) {
                // 修改：傳送訊息時使用接收者的 SignalR ID
                connection.invoke("SystemMessage", "委託", message, connectionId, sendToUserName).catch(function (err) {
                    console.error('傳送錯誤: ' + err.toString());
                });
            });            
        };
        function getSignalRIdByUserName(userName) {
            return new Promise((resolve, reject) => {
                connection.invoke("GetConnectionIdByUserName", userName).then(function (connectionId) {
                    // 在這裡可以使用 connectionId 進行相應的處理
                    resolve(connectionId);
                }).catch(function (err) {
                    reject(err);
                });
            });
        }

        async function showPreContent() {
            const response = await fetch(`@Url.Content("~/depute/myApplyContent")`);
            const datas = await response.json();
            const content = datas.map(content => `<a class="list-group-item list-group-item-action text-start text-truncate" id="list-${content.content}-list" data-bs-toggle="list" href="#list-${content.content}" role="tab" aria-controls="list-${content.content}">${content.content}</a>`);
            const { value: formValues } = await Swal.fire({
                color: "#D0D0D0",
                background: "#343a40",
                scrollbarPadding: false,
                title: "自我推薦範本",
                html: `<div class="list-group" id="list-tab" role="tablist">${content.join("")}</div>`,
                focusConfirm: false,
                confirmButtonText:"確認",
                preConfirm: () => {
                    return [
                        document.querySelector(".list-group-item.list-group-item-action.active")
                    ];
                }
            });
            if (formValues) {
                console.log(formValues[0].textContent);
                document.querySelector('#RecordContent').textContent = formValues[0].textContent;
            }
           
        }

        async function prepareAndSubmit() {
            const formElement = document.querySelector('#formElement');
            const formdata = new FormData(formElement);
            const response = await fetch('@Url.Content("~/depute/Apply")', {
                method: 'POST',
                body: formdata
            });
            const result = await response.json();
            const icon = result.success ? "success" : "error";
            if (result.success) {
                Swal.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    timer: 5000,
                    timerProgressBar: true,
                    title: `${result.message}`,
                    html: "將於<b></b>秒跳轉委託首頁",
                    icon: `${icon}`,
                    didOpen: () => {
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("b");
                        timerInterval = setInterval(() => {
                            timer.textContent = `${(Swal.getTimerLeft() / 1000).toFixed(0)}`;
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                    }
                }).then(() => {
                    sendMessageBySignalR();
                    window.location.href = '@Url.Action("homeframe","depute")';
                })
            };
        }

        document.addEventListener('DOMContentLoaded', () => {
            var status = "";

            if (@Model.StatusId== 10 || @Model.StatusId== 20) {
                status = "合作中委託無法應徵";
                changeHref()
            }
            else if (@Model.StatusId== 19) {
                status = "關閉中委託無法應徵";
                changeHref()
            }
            else if (@Model.StatusId== 16) {
                status = "該委託已完成無法應徵";
                changeHref()
            }
            else if (@Model.ProviderId== @Context.Session.GetInt32(CDictionary.SK_UserID)) {
                status = "無法應徵自己的委託";
                changeHref()
            }
            else if (@Context.Session.GetInt32(CDictionary.SK_會員狀態編號) == 26) {
                status = "被封鎖會員無法進行此操作";
                changeHref()
            }
            function changeHref() {
                Swal.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    timer: 5000,
                    timerProgressBar: true,
                    title: `${status}`,
                    html: "將於<b></b>秒跳轉前頁",
                    icon: "warning",
                    didOpen: () => {
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("b");
                        timerInterval = setInterval(() => {
                            timer.textContent = `${(Swal.getTimerLeft() / 1000).toFixed(0)}`;
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                    }
                }).then(() => {
                    window.location.href = '@ViewBag.preUrl';
                })
            }
        })
    </script>
}