@model IEnumerable<DB_GamingForm_Show.Job.DeputeClass.CDeputeViewModel>
@{
    ViewData["Title"] = "DeputeList";
    Layout = "~/Views/Shared/DeputeLayout2.cshtml";
}
<!-- Search Start -->
<head>
    <style>
        .tag_list_wrapper {
            /* border: 1px solid red; */
        }

        .tag_list {
            display: inline-block;
            vertical-align: top;
            background: #000000;
            border-radius: 30px;
            margin: 5px;
            padding: 10px 25px 10px 10px;
            /* border: 1px solid #d6d6d6; */
            position: relative;
        }

            .tag_list.tag_list_hide {
                display: none;
            }

            .tag_list span {
                position: absolute;
                right: 8px;
                top: 10px;
                cursor: pointer;
            }

        .contanier {
            height: 350px;
            display: flex;
            align-items: flex-end;
        }
        
    </style>
</head>

<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-3">
            <div class="col-md-8">
                <div class="row g-2">
                    <div class="col-md-15">
                        <input type="text" id="text" name="txtKeyword" class="form-control border-0" placeholder="請輸入想尋找的委託..." />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <button id="search" name="txtKeyword" class="btn btn-dark border-0 w-100">搜尋</button>
            </div>
            <div class="col-md-2">
                @Html.ActionLink("重設", "DeputeList", "Depute", new { id = "null" }, new { @class = "btn btn-dark border-0 w-100", @id = "search", name = "txtKeyword" })
            </div>
            <div style="margin-top:5px" id="hotkey">
            </div>


        </div>
    </div>
</div>

<!-- Search End -->
<!-- Jobs Start -->


<div class="container-xxl py-5">
    <div id="popmenu" class="container" style="margin-bottom:10px">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        進階搜尋:
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">

                        <div class="row g-1">
                            <div class="col-6 col-sm-3">-- 技能分類 --</div>
                            <div class="col-6 col-sm-3">-- 技能名稱 --</div>
                            <div class="col-6 col-sm-3">-- 委託區域 --</div>
                            <div class="col-6 col-sm-3">-- 委託狀態 --</div>
                            <div class="w-100"></div>
                            <div class="col-6 col-sm-3" style="height:100px;overflow-y:auto">
                                <div id="skillclass"></div>
                            </div>
                            <div class="col-6 col-sm-3" style="height:100px;overflow-y:auto">
                                <div id="skill"></div>
                            </div>
                            <div class="col-6 col-sm-3" style="height:100px;overflow-y:auto">
                                <div id="regions"></div>
                            </div>
                            <div class="col-6 col-sm-3" style="height:100px;overflow-y:auto">
                                <div id="status"></div>
                            </div>


                            <div class="row g-1">

                                <div class="col-6 col-sm-3">-- 委託金額 --</div>
                                <div class="col-6 col-sm-3">-- 委託日期 --</div>
                                <div class="col-6 col-sm-3">-- 瀏覽人數 --</div>
                                <div class="col-6 col-sm-3">
                                    <span class="col-md-auto">-- 排序依據 --</span>
                                    <span class="col-md-auto">-- 排序方式 --</span>
                                </div>
                                <div class="w-100"></div>


                                <div class="col-6 col-sm-3">
                                    <select class="col-md-8" id="money">
                                        <option value="0" selected>請選擇...</option>
                                        <option value="10000">1萬元以上</option>
                                        <option value="20000">2萬元以上</option>
                                        <option value="50000">5萬元以上</option>
                                        <option value="100000">10萬元以上</option>
                                    </select>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <select class="col-md-8" id="date">
                                        <option value="300000" selected>請選擇...</option>
                                        <option value="1">1天內</option>
                                        <option value="3">3天內</option>
                                        <option value="7">7天內</option>
                                        <option value="30">30天內</option>
                                        <option value="180">半年內</option>
                                        <option value="365">一年內</option>
                                    </select>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <select class="col-md-8" id="view">
                                        <option value="0" selected>請選擇...</option>
                                        <option value="100">100以上</option>
                                        <option value="500">500以上</option>
                                        <option value="1000">1000以上</option>
                                        <option value="10000">10000以上</option>
                                    </select>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <select class="col-md-auto" id="order">
                                        <option value="0" selected>請選擇...</option>
                                        <option value="1">依據金額</option>
                                        <option value="2">依據日期</option>
                                        <option value="3">依據人氣</option>
                                    </select>
                                    <select class="col-md-auto" id="esc">
                                        <option value="false" selected>請選擇...</option>
                                        <option value=true>正排</option>
                                        <option value=false>倒排</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
    @{
        if (Model.Count() == 0)
        {
                                <h1 id="totalcount" class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">懸賞清單</h1>
        }
        else
        {
                                <h1 id="totalcount" class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">相關結果共@(Model.Count())筆</h1>
        }
    }
    
    <div class="container" style="margin-bottom:10px">
        <div class="row">
            <div id="loadtags" class="tag_list_wrapper">
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" id="pagination">
                <li class="page-item">
                    @* <a class="page-link" href="#">1</a> *@
                </li>
            </ul>
        </nav>
        @* <div id="move" style="display:flex;justify-content:center">
            <button class="btn btn-primary" style="margin:0px 2px">上一頁</button>
            <button class="btn btn-primary " style="margin:0px 2px">1</button>
            <button class="btn btn-primary " style="margin:0px 2px">2</button>
            <button class="btn btn-primary " style="margin:0px 2px">3</button>
            <button class="btn btn-primary " style="margin:0px 2px">4</button>
            <button class="btn btn-primary " style="margin:0px 2px">5</button>
            <button class="btn btn-primary" style="margin:0px 2px">下一頁</button>
        </div> *@
    </div>


    <div class="container">


        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">

            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="job-item p-4 mb-4">
                        <div id="resultlist" class="row g-4" style="background-color:black;border-radius:20px">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="~/images/@Html.DisplayFor(modelItem => item.imgfilepath)" alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">@Html.DisplayFor(modelItem => item.title)</h5>
                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Html.DisplayFor(modelItem => item.region)</span>
                                        <span class="text-truncate me-3"><i class="fa fa-user-tie text-primary me-2"></i>@Html.DisplayFor(modelItem => item.providername)</span>
                                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>@Html.DisplayFor(modelItem => item.startdate)</span>
                                        <span class="text-truncate me-3"><i class="far fa-money-bill-alt text-primary me-2"></i>@item.salary.ToString("$###,###,##0.##")</span>
                                        <span class="text-truncate me-3"><i class="far fa-solid fa-eye text-primary me-2"></i>@Html.DisplayFor(modelItem => item.viewcount)</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-light btn-square me-3" href="/Depute/Fav/@Html.DisplayFor(modelItem => item.id)"><i class="far fa-heart text-primary"></i></a>
                                        @Html.ActionLink("詳細", "DeputeDetails", "Depute", new { id = item.id }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("我要應徵", "Apply", "Depute", new { id = item.id }, new { @class = "btn btn-primary" })
                                    </div>
                                    <small class="text-truncate"><i class="far fa-regular fa-chart-bar text-primary me-2"></i>狀態 : @Html.DisplayFor(modelItem => item.status)</small>
                                    <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Last Update : @Html.DisplayFor(modelItem => item.modifieddate)</small>
                                </div>
                            }
                        </div>

                    </div>
                    @Html.ActionLink("回懸賞首頁", "DeputeMain", "Depute", null, new { @class = "btn btn-primary py-3 px-5", @id = "btndp" })
                </div>

            </div>

        </div>
    </div>
</div>
<!-- Jobs End -->
@section Scripts {
    <script>
        const text = document.querySelector('#text');
        loadSkillClassess();
        let keyword = [];
        $('#search').click(() => { MutiSearch(text.value) });
        $('#money').change(() => { MutiSearch(keyword) });
        $('#date').change(() => { MutiSearch(keyword) });
        $('#view').change(() => { MutiSearch(keyword) });
        $('#order').change(() => { MutiSearch(keyword) });
        $('#esc').change(() => { MutiSearch(keyword) });
        function loadSkillClassess() {
            $.ajax('@Url.Content("~/Depute/SkillClassess")', {
                "type": 'Post', //POST、PUT、DELETE
                "dataType": "json"
            })
                .done((data) => {
                    const SkillClassessFrag = $(document.createDocumentFragment());
                    const SkillClassess = data.map(value =>
                        `<div class="form-check">
                                                                         <input class="form-check-input skillclass" type="checkbox" id="${value.name}-1" value="${value.skillClassId}"name="${value.name}">
                                                         <label class="form-check-label" for="${value.name}-1">
                                                         ${value.name}
                                                         </label>
                                                         </div>
                                                                 ` )
                    SkillClassessFrag.append(SkillClassess);
                    $('#skillclass').after(SkillClassessFrag)
                    loadRegion();
                    //tag//
                    let checkValue;
                    $('.form-check-input.skillclass').click(function () {
                        var isChecked = $(this).is(":checked");
                        console.log(isChecked)
                        checkValue = $(this).attr("name");
                        checkID = $(this).val();
                        console.log(checkValue); //on
                        var tag = `<div class="tag_list" onclick="Tags2(event)" id="${checkValue}-2">${checkValue}<span>X</span></div>`
                        if (isChecked == false) {
                            checkID = "";
                            var del = keyword.indexOf(checkValue)
                            keyword.splice(del, 1);
                            console.log(keyword);
                            $(`#${checkValue}-2`).remove()
                        }
                        else {
                            keyword.push(checkValue);
                            console.log(keyword);
                            $('#loadtags').append(tag)
                        }
                        MutiSearch(keyword);
                        loadSkill(checkID);


                    });
                })
        }
        function loadSkill(value) {
            $.ajax('@Url.Content("~/Depute/Skills")', {
                "type": 'Post', //POST、PUT、DELETE
                "data": { "id": value },
                "dataType": "json"
            })
                .done((data) => {


                    const SkillFrag = $(document.createDocumentFragment());
                    const Skills = data.map(Skills => {
                        if (keyword.find(n => n == Skills.name))
                            var hi = 'checked'
                        return `<div class="form-check">
                                                                  <input class="form-check-input skill" type="checkbox" ${hi} id="${Skills.name}-1" name="${Skills.name}">
                                                                  <label class="form-check-label" for="${Skills.name}-1">
                                                                  ${Skills.name}
                                                                 </label>
                                                                 </div>
                                                                 `
                    })
                    SkillFrag.append(Skills);
                    $('#skill').html(SkillFrag);
                    //tag
                    let checkValue;
                    $('.form-check-input.skill').click(function () {
                        var isChecked = $(this).is(":checked");
                        console.log(isChecked)
                        checkValue = $(this).attr("name");
                        checkID = $(this).val();
                        console.log(checkValue); //on
                        var tag = `<div class="tag_list" onclick="Tags2(event)" id="${checkValue}-2">${checkValue}<span>X</span></div>`
                        if (isChecked == false) {
                            checkID = "";
                            var del = keyword.indexOf(checkValue)
                            keyword.splice(del, 1);
                            console.log(keyword);
                            $(`#${checkValue}-2`).remove()
                        }
                        else {
                            keyword.push(checkValue);
                            console.log(keyword);
                            $('#loadtags').append(tag)
                        }
                        MutiSearch(keyword);
                    })
                })
        }
        function loadRegion() {
            $.ajax('@Url.Content("~/Depute/Region")', {
                "type": 'Post', //POST、PUT、DELETE
                "dataType": "json"
            })
                .done((data) => {
                    const RegionFrag = $(document.createDocumentFragment());
                    const Regions = data.map(citydata =>
                        `
                                                        <div class="col order-12">
                                                                                <input class="form-check-input region" type="checkbox" id="${citydata}-1" value="${citydata}" name="${citydata}">
                                                                <label class="form-check-label" for="${citydata}-1">
                                                                 ${citydata}
                                                        </label>
                                                        </div>
                                                         `
                    )

                    RegionFrag.append(Regions);
                    $('#regions').after(RegionFrag)
                    loadStatus();
                    $('.form-check-input.region').click(function () {
                        var isChecked = $(this).is(":checked");
                        console.log(isChecked)
                        checkValue = $(this).attr("name");
                        checkID = $(this).val();
                        console.log(checkValue); //on
                        var tag = `<div class="tag_list" onclick="Tags2(event)" id="${checkValue}-2">${checkValue}<span>X</span></div>`
                        if (isChecked == false) {
                            checkID = "";
                            var del = keyword.indexOf(checkValue)
                            keyword.splice(del, 1);
                            console.log(keyword);
                            $(`#${checkValue}-2`).remove()
                        }
                        else {
                            keyword.push(checkValue);
                            console.log(keyword);
                            $('#loadtags').append(tag)
                        }
                        MutiSearch(keyword);
                    });

                })
        }
        function loadStatus() {
            $.ajax('@Url.Content("~/Depute/Status")', {
                "type": 'Post', //POST、PUT、DELETE
                "dataType": "json"
            })
                .done((data) => {
                    console.log(data);
                    const StatusFrag = $(document.createDocumentFragment());
                    const Status = data.map(Status =>
                        `
                                                                <div class="col order-12">
                                                                                        <input class="form-check-input status" type="checkbox" id="${Status}-1" value="${Status}" name="${Status}">
                                                                        <label class="form-check-label" for="${Status}-1">
                                                                         ${Status}
                                                                </label>
                                                                </div>
                                                                 `
                    )

                    StatusFrag.append(Status);
                    $('#status').after(StatusFrag)
                    loadHotkey();
                    $('.form-check-input.status').click(function () {
                        var isChecked = $(this).is(":checked");
                        console.log(isChecked)
                        checkValue = $(this).attr("name");
                        checkID = $(this).val();
                        console.log(checkValue); //on
                        var tag = `<div class="tag_list" onclick="Tags2(event)" id="${checkValue}-2">${checkValue}<span>X</span></div>`
                        if (isChecked == false) {
                            checkID = "";
                            var del = keyword.indexOf(checkValue)
                            keyword.splice(del, 1);
                            console.log(keyword);
                            $(`#${checkValue}-2`).remove()
                        }
                        else {
                            keyword.push(checkValue);
                            console.log(keyword);
                            $('#loadtags').append(tag)
                        }
                        MutiSearch(keyword);
                    });

                })
        }
        //基本搜尋&&進階搜尋///
        function Tags2(event) {
            checkValue = event.target.previousSibling.textContent;
            console.log(checkValue); //on

            var del = keyword.indexOf(checkValue)
            keyword.splice(del, 1);
            console.log(keyword);
            $(`#${checkValue}-2`).remove();
            console.log($(`#${checkValue}`)[0]);
            $(`#${checkValue}-1`)[0].checked = false
            MutiSearch(keyword);
        }
        function MutiSearch(value) {
            let money = $("#money option:selected").val();
            let date = $("#date option:selected").val();
            let view = $("#view option:selected").val();
            let order = $("#order option:selected").val();
            let esc = $("#esc option:selected").val();
            $.ajax('@Url.Content("~/Depute/MutipleSearch")', {
                "type": 'Post', //POST、PUT、DELETE
                "data": {
                    "txtMutiKeywords": value,
                    "txtDate": date,
                    "txtSalary": money,
                    "txtView": view,
                    "txtOrderby": order,
                    "txtEsc": esc,
                    // "txtRegion": selectRegions.options[selectRegions.selectedIndex]
                },
                "dataType": "json"
            })
                .done((data) => {
                    $('#totalcount').html(`相關結果有${data.length}筆`);
                    const lstFrag = $(document.createDocumentFragment());
                    const resultlist = data.map(resultlist =>
                        `
                                                                        <div  class="col-sm-12 col-md-8 d-flex align-items-center">
                                                                                <img class="flex-shrink-0 img-fluid border rounded" src="/images/${resultlist.imgfilepath}" alt="" style="width: 80px; height: 80px;">
                                                                        <div class="text-start ps-4">
                                                                                <h5 class="mb-3">${resultlist.title}</h5>
                                                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>${resultlist.region}</span>
                                                                                <span class="text-truncate me-3"><i class="fa fa-user-tie text-primary me-2"></i>${resultlist.providername}</span>
                                                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>${resultlist.startdate}</span>
                                                                        <span class="text-truncate me-3"><i class="far fa-money-bill-alt text-primary me-2"></i>${resultlist.salary}</span>
                                                                                <span class="text-truncate me-3"><i class="far fa-solid fa-eye text-primary me-2"></i>${resultlist.viewcount}</span>
                                                                        </div>
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                                        <div class="d-flex mb-3">
                                                                                <a class="btn btn-light btn-square me-3" href="#" onclick=SetFav(${resultlist.id})><i class="far fa-heart text-primary"></i></a>
                                                                                        <a href="/Depute/DeputeDetails/${resultlist.id}" class="btn btn-primary" id="btndp" target="_blank">詳細...</a>
                                                                                <a href="/Depute/Apply/${resultlist.id}" class="btn btn-primary" id=" btndp">我要應徵...</a>
                                                                        </div>
                                                                                        <small class="text-truncate"><i class="far fa-regular fa-chart-bar text-primary me-2"></i>狀態 : ${resultlist.status}</small>
                                                                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Last Update : ${resultlist.modifieddate}</small>
                                                                        </div>

                                                                                `
                    )
                    lstFrag.append(resultlist);
                    $('#resultlist').html(lstFrag);
                    // pagination.addEventListener('click', event => {
                    //     event.preventDefault()
                    //     if (event.target.tagName === 'A') {
                    //         getPageData(event.target.dataset.page, data)
                    //     }
                    // })
                    // getTotalPages(data);
                    pageMove(data);
                })
        }
        function loadHotkey() {
            var count = 0;
            $.ajax('@Url.Content("~/Depute/Hotkey")', {
                "type": 'Post', //POST、PUT、DELETE//
                "data": { "id": 3 },
                "dataType": "json"
            })
                .done((data) => {
                    // count++;
                    const HkFrag = $(document.createDocumentFragment());
                    const snd = '<span class="text-truncate me-1">熱門關鍵字 :</span>'
                    HkFrag.append(snd);
                    const Hotkeys = data.map(Hotkeys => `<a href="#" id="${Hotkeys}" onclick="MutiSearch('${Hotkeys}')">#${Hotkeys} </a>`)
                    HkFrag.append(Hotkeys);
                    $('#hotkey').html(HkFrag)
                })
        }

        function SetFav(value) {
            $.ajax('@Url.Content("~/Depute/Fav")', {
                "type": 'Post', //POST、PUT、DELETE
                "data": { "id": value },
                "dataType": "text"
            })
                .done((data) => 
                {
                    if (data == "Succeed") {
                        Swal.fire({
                            icon: "success",
                            title: "已加入我的最愛",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                    else 
                    { 
                        Swal.fire({
                            icon: "success",
                            title: "已從我的最愛移除",
                            showConfirmButton: false,
                            timer: 1500
                        });

                    }
                
                })
            
        }

     




        //熱門關鍵字:

    </script>

    <script>
        function pageMove(value) {

            pagination.addEventListener('click', event => {
                event.preventDefault()
                if (event.target.tagName === 'A') {
                    getPageData(event.target.dataset.page, value)
                }
            })
            getTotalPages(value);
        
        }

        //計算總共頁數
        function getTotalPages(choiceMovies) {
            let totalPages = Math.ceil(choiceMovies.length / 5) || 1
            let pageItemContent = ''
            for (let i = 0; i < totalPages; i++) {
                pageItemContent += `
                        <li class="page-item ">
                                          <a class="btn btn-primary" style="margin:0px 2px" href="javascript:;" data-page="${i + 1}">${i + 1}</a>
                        </li>
                      `
            }
            pagination.innerHTML = pageItemContent
        }

        //篩選出指定頁面的資料並顯示
        function getPageData(pageNum, choiceMovies) {
            $('#resultlist').html('');//記得先清空現有內容
            paginationData = choiceMovies || paginationData
            let offset = (pageNum - 1) * 5
            let pageData = paginationData.slice(offset, offset + 5)
            let htmlContent = ''
            //console.log(paginationData)
            if (paginationData.length === 0) {
                $('#resultlist').html(`
                              <h3>此類別無資料，請點選其他選項。</h3>
                            `);
            }
            const lstFrag = $(document.createDocumentFragment());
            const resultlist = pageData.map(resultlist =>
                `
                                                                                <div  class="col-sm-12 col-md-8 d-flex align-items-center">
                                                                                        <img class="flex-shrink-0 img-fluid border rounded" src="/images/${resultlist.imgfilepath}" alt="" style="width: 80px; height: 80px;">
                                                                                <div class="text-start ps-4">
                                                                                        <h5 class="mb-3">${resultlist.title}</h5>
                                                                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>${resultlist.region}</span>
                                                                                        <span class="text-truncate me-3"><i class="fa fa-user-tie text-primary me-2"></i>${resultlist.providername}</span>
                                                                                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>${resultlist.startdate}</span>
                                                                                <span class="text-truncate me-3"><i class="far fa-money-bill-alt text-primary me-2"></i>${resultlist.salary}</span>
                                                                                        <span class="text-truncate me-3"><i class="far fa-solid fa-eye text-primary me-2"></i>${resultlist.viewcount}</span>
                                                                                </div>
                                                                                </div>
                                                                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                                                <div class="d-flex mb-3">
                                                                                        <a class="btn btn-light btn-square me-3" href="#" onclick=SetFav(${resultlist.id})><i class="far fa-heart text-primary"></i></a>
                                                                                        <a href="/Depute/DeputeDetails/${resultlist.id}" class="btn btn-primary" id="btndp" target="_blank">詳細...</a>
                                                                                        <a href="/Depute/Apply/${resultlist.id}" class="btn btn-primary" id=" btndp">我要應徵...</a>
                                                                                </div>
                                                                                                <small class="text-truncate"><i class="far fa-regular fa-chart-bar text-primary me-2"></i>狀態 : ${resultlist.status}</small>
                                                                                                <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Last Update : ${resultlist.modifieddate}</small>
                                                                                </div>

                                                                                        `
            )
            lstFrag.append(resultlist);
            $('#resultlist').html(lstFrag);
            
        }
    </script>


}

