@model List<DB_GamingForm_Show.Job.DeputeClass.CDeputeViewModel>

@{
    ViewData["Title"] = "DeputeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeputeDetails</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].providername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].modifieddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DeputeContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Skillname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.providername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifieddate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeputeContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skillname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
