@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Depute>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@Html.ActionLink("發佈委託","Create","Depute",null,new{@class="btn btn-primary tm-btn-next"})
@Html.ActionLink("TEST我要應徵","Apply","Depute",null,new{@class="btn btn-primary tm-btn-next"})


<table class="table table-striped table-bordered">

    <tr>
        <th class="col-1">
            #
        </th>
        <th class="col-1">
            標題
        </th>
        <th class="col-2">
            內容
        </th>
        <th class="col-1">
            地區
        </th>
        <th class="col-1">
            狀態
        </th>
        <th class="col-1">
            報酬
        </th>
        <th class="col-1">
            更新日期
        </th>
        <th class="col-1">
            發佈日期
        </th>
        <th class="col-1">
            應徵人數
        </th>
        <th class="col-2"></th>
    </tr>


    @{
        int count = 0;
        foreach (var i in Model)
        {
            count++;
            <tr>
                <td class="col-1">
                    @count
                </td>
                <td class="col-1">
                    @i.Title
                </td>
                <td class="col-3">
                    @i.DeputeContent
                </td>
                <td class="col-1">
                    @i.Region.City
                </td>
                <td class="col-1">
                    @i.Status.Name
                </td>
                <td class="col-1">
                    @i.Salary.ToString("$###.00")
                </td>
                <td class="col-1">
                    @i.Modifiedate.ToString("yyyy/mm/dd")
                </td>
                <td class="col-1">
                    @i.StartDate.ToString("yyyy/mm/dd")
                </td>
                <td class="col-1">
                </td>
                <td class="col-2">
                    @Html.ActionLink("修改", "Edit", "Depute", new { id = i.DeputeId }, new { @class = "btn btn-success" }) 
                    @Html.ActionLink("詳細資料", "Details", new { id = i.DeputeId }, new { @class = "btn btn-info" }) 
                    @Html.ActionLink("刪除", "DeleteDepute", "Depute", new { id = i.DeputeId }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除嗎?')" })
                </td>
            </tr>
        }
    }
</table>