@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.DeputeRecord>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table table-striped table-bordered">

    <tr>
        <th hidden></th>
        <th class="col-1">
            #
        </th>
        <th class="col-3">
            內容
        </th>
        <th class="col-1">
            狀態
        </th>
        <th class="col-1">
            報酬
        </th>
        <th class="col-1">
            更新日期
        </th>
        <th class="col-2"></th>
    </tr>


    @{
        int count = 0;
        foreach (var i in Model)
        {
            count++;
            <tr>
            <td hidden>@i.DeputeId</td>
                <td class="col-1">
                    @count
                </td>
                <td class="col-3">
                    @i.Depute.DeputeContent
                </td>
                <td class="col-1">
                    @i.ApplyStatus.Name
                </td>
                <td class="col-1">
                    @i.Depute.Salary.ToString("$###.00")
                </td>
                <td class="col-1">
                    @i.Depute.Modifiedate.ToString("yyyy/mm/dd")
                </td>
                <td class="col-2">
                    @Html.ActionLink("詳細資料", "Details", new { id = i.DeputeId }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("刪除", "Delete", "Depute", new { id = i.DeputeId }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除嗎?')" })
                </td>
            </tr>
        }
    }
</table>