@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Depute>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@Html.ActionLink("發佈委託","Create","Depute",null,new{@class="btn btn-primary tm-btn-next"})
@Html.ActionLink("TEST我要應徵","Apply","Depute",null,new{@class="btn btn-primary tm-btn-next"})
<table class="table table-dark table-striped table-bordered">

    <tr>
        <th class="col-1">
            #
        </th>
        <th class="col-1">
            標題
        </th>
        <th class="col-4">
            內容
        </th>
        
        <th class="col-1">
            狀態
        </th>
        <th class="col-1">
            報酬
        </th>
        <th class="col-1">
            應徵人數
        </th>
        <th class="col-3"></th>
    </tr>


    @{
        int count = 0;
        foreach (var i in Model)
        {
            count++;
            <tr>
                <td >
                    @count
                </td>
                <td >
                    @i.Title
                </td>
                <td >
                    @i.DeputeContent
                </td>
                <td >
                    @i.Status.Name
                </td>
                <td >
                    @i.Salary.ToString("$###,###,###.00")
                </td>
                
                <td >
                    @i.DeputeRecords.Count()
                </td>
                <td >
                    @Html.ActionLink("修改", "Edit", "Depute", new { id = i.DeputeId }, new { @class = "btn btn-success" })
                    <button class="btn btn-info btn-ReleaseDeputeDetails" onclick="detailsDepute(@i.DeputeId)">詳細資料</button>
                    <button class="btn btn-danger btn-ReleaseDeputeDelete" data_deputeid=@i.DeputeId>刪除</button>
                </td>
            </tr>
        }
    }
</table>

<script>

    async function detailsDepute(deputeID) {
        const response = await fetch(`@Url.Content("~/depute/DeputeDetial")?id=${deputeID}`);
        const data = await response.json();
        console.log(data);

        Swal.fire({
            title: `<div class=" bg-dark">詳細資料</div>`,
            html: ` <div class="text-reset"> <ul class="list-group ">
                    <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto"  >
                            <div class="fw-bold" style="text-align:left;">標題</div>
                            <div style="text-align:left;">${data.title}</div>
                  </div>
                </li>
                    <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">內容</div>
                                        <div style="text-align:left;">${data.deputeContent}</div>
                      </div>
                    </li>
                <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto" style=":black">
                            <div class="fw-bold" style="text-align:left;">地區</div>
                            <div style="text-align:left;">${data.region}</div>
                  </div>
                </li>
                    <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">狀態</div>
                                    <div style="text-align:left;">${data.status}</div>
                      </div>
                    </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto" style=":black">
                                    <div class="fw-bold" style="text-align:left;">應徵人數</div>
                                            <div style="text-align:left;">${data.count}</div>
                          </div>
                        </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                              <div class="ms-2 me-auto" style=":black">
                                        <div class="fw-bold" style="text-align:left;">報酬</div>
                                                    <div style="text-align:left;">${data.salary}</div>
                              </div>
                            </li>
                                <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto" style=":black">
                                            <div class="fw-bold" style="text-align:left;">雇主姓名</div>
                                                            <div style="text-align:left;">${data.providername}</div>
                                  </div>
                                </li>
                                    <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                      <div class="ms-2 me-auto" style=":black">
                                                <div class="fw-bold" style="text-align:left;">發佈日期</div>
                                                                    <div style="text-align:left;">${data.startdate}</div>
                                      </div>
                                    </li>
                                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                          <div class="ms-2 me-auto" style=":black">
                                                    <div class="fw-bold" style="text-align:left;">更新日期</div>
                                                                            <div style="text-align:left;">${data.modifieddate}</div>
                                          </div>
                                        </li>
                                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                              <div class="ms-2 me-auto" style=":black">
                                                        <div class="fw-bold" style="text-align:left;">更新日期</div>
                                                                                <div style="text-align:left;">${data.modifieddate}</div>
                                              </div>
                                            </li>
              </ul></div>`,
            background: "#343a40"
        });

    }
    function deleteDepute() {

    }
</script>