@model prjDB_GamingForm_Show.ViewModels.CDeputeOverViewModel
@{
    string askVisibility = "visibility:hidden";
    string askDisabled = "disabled";

    string applyVisibility = Model.ApplyCount == 0 ? "visibility:hidden" : "";
    string applyDisabled = Model.ApplyCount == 0 ? "disabled" : "";

    string ReplyVisibility = Model.ReplyCount == 0 ? "visibility:hidden" : "";
    string ReplyDisabled = Model.ReplyCount == 0 ? "disabled" : "";

    string ComVisibility = Model.ComCount == 0 ? "visibility:hidden" : "";
    string ComDisabled = Model.ComCount == 0 ? "disabled" : "";

    string NewVisibility = Model.NewCount == 0 ? "visibility:hidden" : "";
    string NewDisabled = Model.NewCount == 0 ? "disabled" : "";

    string RunVisibility = Model.RunCount == 0 ? "visibility:hidden" : "";
    string RunDisabled = Model.RunCount == 0 ? "disabled" : "";

    string CofirmVisibility = Model.CofirmCount == 0 ? "visibility:hidden" : "";
    string CofirmDisabled = Model.CofirmCount == 0 ? "disabled" : "";

    string MemberComVisibility = Model.MemberComCount == 0 ? "visibility:hidden" : "";
    string MemberComDisabled = Model.MemberComCount == 0 ? "disabled" : "";
}
<div class="row">
    <div class="col-lg-10 tm-col-home mb-4">
        <div class="tm-text-container">
            <div class="card border-white mb-3 bg-transparent" style="max-width: ;">
                <div class="card-header bg-transparent border-white text-center"><h4>我發佈的委託</h4></div>
                <div class="card-body text-light">
                    <table class="table table-borderless text-center">
                        <tbody>
                            <tr>
                                <td class="col-6">
                                    <a href="#" class="btn btn-secondary position-relative col-12 @askDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/message-circle.svg" />
                                        會員提問
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@askVisibility">
                                            
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                <td class="col-6">
                                    <a href="#release" class="btn btn-secondary position-relative col-12 @applyDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/users.svg" />
                                        待接受
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@applyVisibility">
                                            @Model.ApplyCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <a href="#release" class="btn btn-secondary position-relative col-12 @ReplyDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/edit.svg" />
                                        待收件
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@ReplyVisibility">
                                            @Model.ReplyCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                <td class="col-6">
                                    <a href="#release" class="btn btn-secondary position-relative col-12 @ComDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/check.svg" />
                                        已完成
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@ComVisibility">
                                            @Model.ComCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 tm-col-home mb-4">
        <div class="tm-text-container">
            <div class="card border-white mb-3 bg-transparent" style="max-width: ;">
                <div class="card-header bg-transparent border-white text-center"><h4>我接受的委託</h4></div>
                <div class="card-body text-light">
                    <table class="table table-borderless text-center">
                        <tbody>
                            <tr>
                                <td class="col-6">
                                    <a href="#receive" class="btn btn-secondary position-relative col-12 @NewDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/message-circle.svg" />
                                        新委託
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@NewVisibility">
                                            @Model.NewCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                <td class="col-6">
                                    <a href="#receive" class="btn btn-secondary position-relative col-12 @RunDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/users.svg" />
                                        進行中
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@RunVisibility">
                                            @Model.RunCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <a href="#receive" class="btn btn-secondary position-relative col-12 @CofirmDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/edit.svg" />
                                        待確認
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@CofirmVisibility">
                                            @Model.CofirmCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                <td href="#receive" class="col-6">
                                    <a href="#receive" class="btn btn-secondary position-relative col-12 @MemberComDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/check.svg" />
                                        已完成
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@MemberComVisibility">
                                            @Model.MemberComCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
      
    </script>
}