@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Depute>


<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>



@{
    int intReleaseCount = Model.Count(_ => !_.Status.Name.Contains("合作中") && !_.Status.Name.Contains("已完成"));//不包含下兩者的所有結果
    string strReleaseCount = intReleaseCount == 0 ? "" : $"({intReleaseCount})";

    int intIngCount = Model.Count(_ => _.Status.Name.Contains("合作中"));//會是:合作中OR合作中(私人)
    string strIngCount = intIngCount == 0 ? "" : $"({intIngCount})";

    int intComCount = Model.Count(_ => _.Status.Name.Contains("已完成"));//會是:已完成OR已完成(私人)
    string strComCount = intComCount == 0 ? "" : $"({intComCount})";
}

<div class="d-flex justify-content-between">
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation" style="margin-bottom: 0px;">
                <button class="nav-link active" id="release-tab" data-bs-toggle="tab" data-bs-target="#release-tab-pane" type="button" role="tab" aria-controls="release-tab-pane" aria-selected="true">已發佈 @strReleaseCount</button>
            </li>
            <li class="nav-item" role="presentation" style="margin-bottom: 0px;">
                <button class="nav-link" id="release-ing-tab" data-bs-toggle="tab" data-bs-target="#release-ing-tab-pane" type="button" role="tab" aria-controls="release-ing-tab-pane" aria-selected="false">合作中 @strIngCount</button>
            </li>
            <li class="nav-item" role="presentation" style="margin-bottom: 0px;">
                <button class="nav-link" id="release-com-tab" onclick="" data-bs-toggle="tab" data-bs-target="#release-com-tab-pane" type="button" role="tab" aria-controls="release-com-tab-pane" aria-selected="false">已完成 @strComCount</button>
            </li>
        </ul>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        @Html.ActionLink("發佈委託", "Create", "Depute", null, new { @class = "btn btn-primary tm-btn-next mb-3" })
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="release-tab-pane" role="tabpanel" aria-labelledby="release-tab" tabindex="0">
        <table class="table table-dark table-striped table-bordered align-middle">

            <tr class="text-center">
                <th class="col-auto">
                    #
                </th>
                <th class="col-2">
                    標題
                </th>
                <th class="col-3">
                    內容
                </th>

                <th class="col-1">
                    狀態
                </th>
                <th class="col-1">
                    報酬
                </th>
                <th class="col-1">
                    應徵人數
                </th>
                <th class="col-3"></th>
            </tr>


            @{
                int count = 0;
                foreach (var i in Model)
                {
                    if (i.Status.Name.Contains("合作中") || i.Status.Name.Contains("已完成"))
                    {
                        continue;
                    }
                    count++;
                    <tr>
                        <td class="text-center">
                            @count
                        </td>
                        <td>
                            @i.Title
                        </td>
                        <td>
                            <div class="text-truncate" style="width:200px;">
                                @i.DeputeContent
                            </div>
                            <button type="button" class="btn btn-link btn-sm" onclick="toggleContent(this)">檢視內容</button>
                        </td>
                        <td class="text-center" id="deputeStatus">
                            @i.Status.Name
                        </td>
                        <td class="text-center">
                            @i.Salary.ToString("$###,###,##0")
                        </td>
                        <td class="text-center">
                            <button id=`detial${@i.DeputeId}` class="btn btn-light" onclick="individualDetials(@i.DeputeId)">@i.DeputeRecords.Count()</button>
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("修改", "Edit", "Depute", new { id = i.DeputeId }, new { @class = "btn btn-success" })
                            <button class="btn btn-secondary btn-ReleaseDeputeDetails" onclick="detailsDepute(@i.DeputeId)">詳細資料</button>
                            <button class="btn btn-danger btn-ReleaseDeputeDelete" onclick="deleteDeputeAlert(@i.DeputeId)" data_deputeid=@i.DeputeId>刪除</button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="tab-pane fade" id="release-ing-tab-pane" role="tabpanel" aria-labelledby="release-ing-tab" tabindex="0">
        <table class="table table-dark table-striped table-bordered align-middle">

            <tr class="text-center">
                <th class="col-auto">
                    #
                </th>
                <th class="col-2">
                    標題
                </th>
                <th class="col-3">
                    內容
                </th>

                <th class="col-1">
                    狀態
                </th>
                <th class="col-1">
                    報酬
                </th>
                <th class="col-1">
                    應徵人數
                </th>
                <th class="col-3"></th>
            </tr>


            @{
                int count2 = 0;
                foreach (var i in Model)
                {
                    if (!i.Status.Name.Contains("合作中"))
                    {
                        continue;
                    }
                    count2++;
                    <tr class="comDepute">
                        <th hidden>@i.DeputeId</th>
                        <td class="text-center">
                            @count2
                        </td>
                        <td>
                            @i.Title
                        </td>
                        <td>
                            <div class="text-truncate" style="width:200px;">
                                @i.DeputeContent
                            </div>
                            <button type="button" class="btn btn-link btn-sm" onclick="toggleContent(this)">檢視內容</button>
                        </td>
                        <td class="text-center" id="deputeStatus">
                            @i.Status.Name
                        </td>
                        <td class="text-center">
                            @i.Salary.ToString("$###,###,##0")
                        </td>
                        <td class="text-center">
                            <button id=`detial${@i.DeputeId}` class="btn btn-light" onclick="individualDetials(@i.DeputeId)">@i.DeputeRecords.Count()</button>
                        </td>
                        <td class="text-center">
                            @{
                                //若狀態為已完成(待確認)出現確認按鈕
                                if (i.DeputeRecords.Any(_ => _.ApplyStatusId == 25))
                                {
                                    <button type="button" onclick="confirm(@i.DeputeId)" class="btn btn-info">確認</button>
                                }
                                //若狀態為合作中確認按鈕不可使用
                                else
                                {
                                    <button class="btn btn-info disabled">確認</button>
                                }
                            }
                            <button class="btn btn-secondary btn-ReleaseDeputeDetails" onclick="detailsDepute(@i.DeputeId)">詳細資料</button>
                            <button class="btn btn-danger btn-ReleaseDeputeDelete" onclick="deleteDeputeAlert(@i.DeputeId)" data_deputeid=@i.DeputeId>刪除</button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="tab-pane fade" id="release-com-tab-pane" role="tabpanel" aria-labelledby="release-com-tab" tabindex="0">
        <table class="table table-dark table-striped table-bordered align-middle">

            <tr class="text-center">
                <th hidden>id</th>
                <th class="col-auto">
                    #
                </th>
                <th class="col-2">
                    標題
                </th>
                <th class="col-4">
                    內容
                </th>
                <th class="" hidden>
                    狀態
                </th>
                <th class="col-1">
                    報酬
                </th>
                <th class="col-1">
                    應徵人數
                </th>
                <th class="col-3"></th>
            </tr>


            @{
                int count3 = 0;
                foreach (var i in Model)
                {
                    if (!i.Status.Name.Contains("已完成"))
                    {
                        continue;
                    }
                    count3++;
                    <tr class="comDepute">
                        <th hidden>@i.DeputeId</th>
                        <td class="text-center">
                            @count3
                        </td>
                        <td>
                            @i.Title
                        </td>
                        <td>
                            <div class="text-truncate" style="width:200px;">
                                @i.DeputeContent
                            </div>
                            <button type="button" class="btn btn-link btn-sm" onclick="toggleContent(this)">檢視內容</button>
                        </td>
                        <td class="text-center" hidden>
                            @i.Status.Name
                        </td>
                        <td class="text-center">
                            @i.Salary.ToString("$###,###,##0")
                        </td>
                        <td class="text-center">
                            <button id=`detial${@i.DeputeId}` class="btn btn-light" onclick="individualDetials(@i.DeputeId)">@i.DeputeRecords.Count()</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-secondary btn-ReleaseDeputeDetails" onclick="detailsDepute(@i.DeputeId)">詳細資料</button>
                            <button class="btn btn-danger btn-ReleaseDeputeDelete" onclick="deleteDeputeAlert(@i.DeputeId)" data_deputeid=@i.DeputeId>刪除</button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

</div>


<script>

    function toggleContent(button) {
        // 找到相關的文本元素，您可能需要根據您的HTML結構調整這裡的代碼
        var contentDiv = button.previousElementSibling;
        console.log(contentDiv);

        // 切換內容顯示方式
        if (contentDiv.classList.contains('text-truncate')) {
            contentDiv.classList.remove('text-truncate'); // 展開
            button.textContent = '隱藏內容';
        } else {
            contentDiv.classList.add('text-truncate');    // 截斷
            button.textContent = '檢視內容';
        }
    }

    function loadOverview() {
        $('#divOverview').load('@Url.Content("~/depute/PartialOverview")');
    }


    function loadReleaseList() {
        $('#divReleasePart').load('@Url.Content("~/depute/PartialReleaseList")');
    }

    async function confirm(deputeid) {
        const response = await fetch(`@Url.Content("~/depute/confirmApply")?id=${deputeid}`);
        const data = await response.json();
        console.log(data);
        const hasFile = data.replyFileName == null ? "disabled" : "";

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            color: "#D0D0D0",
            background: "#343a40",
            width: 800,
            scrollbarPadding: false,
            title: `確認委託`,
            html: `<ul class="list-group">
                                <li class="list-group-item text-reset bg-dark">主題：${data.title}</li>
                                <li class="list-group-item text-reset bg-dark">檔案簡介：${data.replyContent}</li>
                                <li class="list-group-item text-reset bg-dark">
                                   <a type="button" id="download" class="btn btn-info" ${hasFile}>檔案下載</a>
                                </li>
                            </ul>`,
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "確認完成!",
            cancelButtonText: "取消",
            reverseButtons: true,
            didOpen: (modalElement) => {
                const downloadbtn = modalElement.querySelector('#download');
                downloadbtn.download = `${data.replyFileName}`;
                console.log(data.replyFileName);
                downloadbtn.href = `@Url.Content("~/depute/downloadFile")?fileName=${data.replyFileName}`;
                console.log(downloadbtn.href);
            }
        }).then(async (result) => {
            if (result.isConfirmed) {
                var deputerecordstatus = JSON.stringify({ id: data.id, statusid: 16 });
                console.log(deputerecordstatus);
                const response = await fetch(`@Url.Content("~/depute/changeDeputeRecordStatus")?jsonString=${deputerecordstatus}`);
                swalWithBootstrapButtons.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    scrollbarPadding: false,
                    title: "恭喜!",
                    html: "委託已完成<br/>視窗將於<b></b>秒關閉",
                    icon: "success",
                    timer: 4000,
                    timerProgressBar: true,
                    didOpen: () => {
                        sendMessageBySignalR(data.workerName, "完成");
                        Swal.showLoading();
                        const timer = Swal.getPopup().querySelector("b");
                        timerInterval = setInterval(() => {
                            timer.textContent = `${(Swal.getTimerLeft() / 1000).toFixed(0)}`;
                            if (++timer.textContent < 0) {
                                clearInterval(timerInterval);
                            }
                        }, 100);
                    },
                    willClose: () => {
                        clearInterval(timerInterval);
                        loadReleaseList();
                        loadOverview();
                    }
                });
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    scrollbarPadding: false,
                    title: "已取消",
                    text: "委託尚未完成",
                    icon: "warning"
                });
            }
        });
    }

    async function individualDetials(deputeid) {
        const response = await fetch(`@Url.Content("~/depute/individualdetials")?id=${deputeid}`);
        const datas = await response.json();
        console.log(datas);
        if (datas.length == 0) {
            return;
        }

        Swal.fire({
            color: "#D0D0D0",
            background: "#343a40",
            scrollbarPadding: false,
            title: `${datas[0].title}-應徵會員資料`,
            width: '100rem',
            html: `<div class="accordion" id="accordionExample"></div>`
        });

        const applyers = await datas.map((applyer, index) => {
            const isCooperating = applyer.status.includes("合作中") || applyer.status.includes("已完成");
            const canChangeStatus = isCooperating ? "disabled" : "";
            return `<div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" onclick="readed(${applyer.id},event)" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${applyer.workerName}" aria-expanded="false" aria-controls="collapse${applyer.workerName}">
                                ${index + 1}-${applyer.workerName}<span class="badge text-bg-info">${applyer.status}</span>
                                </button>
                            </h2>
                            <div id="collapse${applyer.workerName}" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th style="color:black" scope="col-1">性別</th>
                                    <th style="color:black" scope="col-1">Email</th>
                                    <th style="color:black" scope="col-1">手機</th>
                                    <th style="color:black" scope="col-1">生日</th>
                                    <th style="color:black" scope="col-1">會員頁面連結</th>
                                    <th style="color:black" scope="col-1">狀態</th>
                                    <th style="color:black" scope="col-1">狀態管理</th>
                                    <th style="color:black" scope="col-1"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="align-middle" style="color:black">${applyer.applyerGender}</td>
                                <td class="align-middle" style="color:black">${applyer.applyerEmail}</td>
                                <td class="align-middle" style="color:black">${applyer.applyerPhone}</td>
                                <td class="align-middle" style="color:black">${applyer.applyerBirth}</td>
                                <td class="align-middle" style="color:black"><a href='@Url.Content("~/member/MemberPageTest")?id=${applyer.workerId}'>${applyer.workerName}</a></td>
                                <td class="align-middle" style="color:black" id="currentStatus">${applyer.status}</td>
                                <td class="align-middle" style="color:black">
                                    <select class="form-select" aria-label="Default select example" ${canChangeStatus}>
                                    <option selected>請選擇欲修改的狀態</option>
                                    <option value="7">審核中</option>
                                    <option value="10">合作中</option>
                                    <option value="11">備選</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-info" onclick="changeStatus(${applyer.id},event)" ${canChangeStatus}>更改</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item text-center">應徵會員補充資訊</li>
                                <li class="list-group-item text-start" style="white-space: pre-line;">${applyer.applyerContent}</li>
                            </ul>
                            </div>
                        </div>`});
        const titleapplyer = await document.querySelector('#accordionExample');
        titleapplyer.innerHTML = applyers.join("");
    }

    async function readed(deputeRecordID, event) {
        const currentRecordStatus = event.target.lastElementChild.innerHTML;
        if (currentRecordStatus != "已投遞")
            return;
        var deputerecordstatus = JSON.stringify({ id: deputeRecordID, statusid: 7 });
        console.log(deputerecordstatus);
        const response = await fetch(`@Url.Content("~/depute/changeDeputeRecordStatus")?jsonString=${deputerecordstatus}`);
        const statusname = await response.text();
        event.target.lastElementChild.innerHTML = statusname;
        event.target.parentNode.nextElementSibling.querySelector('#currentStatus').innerHTML = statusname;
        await loadOverview();
    }

    async function changeStatus(deputeRecordID, event) {
        const applystatus = event.target.parentNode.previousSibling.previousSibling.childNodes[1].value;
        const workerName = event.target.parentNode.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.textContent;
        console.log(workerName);
        const viewstatus = event.target.parentNode.previousSibling.previousSibling.previousSibling.previousSibling;
        if (applystatus == "請選擇欲修改的狀態" || applystatus == "7")
            return;
        const applystatusid = parseInt(applystatus);
        const badgestatus = event.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.previousSibling.previousSibling.childNodes[1].childNodes[1];
        var deputerecordstatus = JSON.stringify({ id: deputeRecordID, statusid: applystatusid });
        const response = await fetch(`@Url.Content("~/depute/changeDeputeRecordStatus")?jsonString=${deputerecordstatus}`);
        const statusname = await response.text();
        viewstatus.innerHTML = statusname;
        badgestatus.innerHTML = statusname;
        if (statusname == "合作中") {
            await sendMessageBySignalR(workerName, "合作");
            const allbadge = badgestatus.parentNode.parentNode.parentNode.parentNode.querySelectorAll('span');
            const allbadgeArray = Array.from(allbadge);
            allbadgeArray.forEach(badges => {
                if (badges != badgestatus)
                    badges.innerHTML = "備選";
            })
            function loadReleaseList() {
                $('#divReleasePart').load('@Url.Content("~/depute/PartialReleaseList")');
            }
            loadReleaseList();
            loadOverview();
        }
    }

    function sendMessageBySignalR(workerName, status) {
        var message = ""
        switch (status) {
            case "合作":
                message = `您應徵的委託決定與您合作，請盡速查看`
                break;
            case "完成":
                message = `您的委託案件已完成，點擊查看詳情`
                break;
        }
        var sendToUserName = workerName // 接收者的使用者名稱
        console.log(sendToUserName)
        // 新增：呼叫 SignalR Hub 方法獲取接收者的 SignalR ID
        getSignalRIdByUserName(sendToUserName).then(function (connectionId) {
            // 修改：傳送訊息時使用接收者的 SignalR ID
            connection.invoke("SystemMessage", "委託", message, connectionId, sendToUserName).catch(function (err) {
                console.error('傳送錯誤: ' + err.toString());
            });
        });
    };
    function getSignalRIdByUserName(userName) {
        return new Promise((resolve, reject) => {
            connection.invoke("GetConnectionIdByUserName", userName).then(function (connectionId) {
                // 在這裡可以使用 connectionId 進行相應的處理
                resolve(connectionId);
            }).catch(function (err) {
                reject(err);
            });
        });
    }

    function deleteDeputeAlert(deputeID) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            color: "#D0D0D0",
            background: "#343a40",
            scrollbarPadding: false,
            title: "確定刪除嗎?",
            text: "此動作無法復原!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "是的，確定刪除!",
            cancelButtonText: "取消!",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    scrollbarPadding: false,
                    title: "已刪除!",
                    text: "該筆資料已刪除",
                    icon: "success"
                });
                fetch(`@Url.Content("~/depute/deletedepute")?id=${deputeID}`)
                    .then(() => {
                        loadReleaseList();
                        loadOverview();
                    });

            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    scrollbarPadding: false,
                    title: "已取消",
                    text: "資料尚未刪除",
                    icon: "error"
                });
            }
        });
    }

    async function detailsDepute(deputeID) {
        const response = await fetch(`@Url.Content("~/depute/DeputeDetial")?id=${deputeID}`);
        const data = await response.json();
        console.log(data);

        Swal.fire({
            title: `<div style="background-color:#343a40">詳細資料</div>`,
            background: "#343a40",
            scrollbarPadding: false,
            html: `<div class="text-reset"> <ul class="list-group ">
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto"  >
                                <div class="fw-bold" style="text-align:left;">標題</div>
                                <div style="text-align:left;">${data.title}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">內容</div>
                                <div style="text-align:left;white-space: pre-wrap;">${data.deputeContent}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">地區</div>
                                <div style="text-align:left;">${data.region}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">狀態</div>
                                <div style="text-align:left;">${data.status}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">應徵人數</div>
                                <div style="text-align:left;">${data.count}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">報酬</div>
                                <div style="text-align:left;">${data.salary}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">雇主姓名</div>
                                <div style="text-align:left;">${data.providername}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">發佈日期</div>
                                <div style="text-align:left;">${data.startdate}</div>
                                </div>
                            </li>
                            <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto" style=":black">
                                <div class="fw-bold" style="text-align:left;">更新日期</div>
                                <div style="text-align:left;">${data.modifieddate}</div>
                                </div>
                            </ul>
                        </div>`
        });
    }

</script>