@model prjDB_GamingForm_Show.ViewModels.CDeputeOverViewModel
@{
    string applyVisibility = Model.applyCount == 0 ? "visibility:hidden" : "";
    string applyDisabled = Model.applyCount == 0 ? "disabled" : "";
    
    string runVisibility = Model.runCount == 0 ? "visibility:hidden" : "";
    string runDisabled = Model.runCount == 0 ? "disabled" : "";

    string replyVisibility = Model.replyCount == 0 ? "visibility:hidden" : "";
    string replyDisabled = Model.replyCount == 0 ? "disabled" : "";

    string comVisibility = Model.comCount == 0 ? "visibility:hidden" : "";
    string comDisabled = Model.comCount == 0 ? "disabled" : "";

    string workerNewVisibility = Model.workerNewCount == 0 ? "visibility:hidden" : "";
    string workerNewDisabled = Model.workerNewCount == 0 ? "disabled" : "";

    string workerRunVisibility = Model.workerRunCount == 0 ? "visibility:hidden" : "";
    string workerRunDisabled = Model.workerRunCount == 0 ? "disabled" : "";

    string workerCofirmVisibility = Model.workerCofirmCount == 0 ? "visibility:hidden" : "";
    string workerCofirmDisabled = Model.workerCofirmCount == 0 ? "disabled" : "";

    string workerMemberComVisibility = Model.workerComCount == 0 ? "visibility:hidden" : "";
    string workerMemberComDisabled = Model.workerComCount == 0 ? "disabled" : "";
}
<div class="row d-flex justify-content-center">
    <div class="col-lg-10 tm-col-home mb-4">
        <div class="tm-text-container">
            <div class="card border-white mb-3 bg-transparent" style="max-width: ;">
                <div class="card-header bg-transparent border-white text-center"><h4>我發佈的委託</h4></div>
                <div class="card-body text-light">
                    <table class="table table-borderless text-center">
                        <tbody>
                            <tr>
                                <td class="col-6">
                                    <a href="#release" class="btn btn-secondary position-relative col-8 @applyDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/message-circle.svg" />
                                        新應徵
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@applyVisibility">
                                            @Model.applyCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                <td class="col-6">
                                    <a href="#release" class="btn btn-secondary position-relative col-8 @runDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/users.svg" />
                                        合作中
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@runVisibility">
                                            @Model.runCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <a href="#release" class="btn btn-secondary position-relative col-8 @replyDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/edit.svg" />
                                        待收件
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@replyVisibility">
                                            @Model.replyCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                <td class="col-6">
                                    <a href="#release" class="btn btn-secondary position-relative col-8 @comDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/check.svg" />
                                        已完成
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@comVisibility">
                                            @Model.comCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 tm-col-home mb-4">
        <div class="tm-text-container">
            <div class="card border-white mb-3 bg-transparent" style="max-width: ;">
                <div class="card-header bg-transparent border-white text-center"><h4>我接受的委託</h4></div>
                <div class="card-body text-light">
                    <table class="table table-borderless text-center">
                        <tbody>
                            <tr>
                                <td class="col-6">
                                    <a href="#receive" class="btn btn-secondary position-relative col-8 @workerNewDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/message-circle.svg" />
                                        新委託
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@workerNewVisibility">
                                            @Model.workerNewCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                <td class="col-6">
                                    <a href="#receive" class="btn btn-secondary position-relative col-8 @workerRunDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/users.svg" />
                                        合作中
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@workerRunVisibility">
                                            @Model.workerRunCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-6">
                                    <a href="#receive" class="btn btn-secondary position-relative col-8 @workerCofirmDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/edit.svg" />
                                        待確認
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@workerCofirmVisibility">
                                            @Model.workerCofirmCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                                <td href="#receive" class="col-6">
                                    <a href="#receive" class="btn btn-secondary position-relative col-8 @workerMemberComDisabled" aria-disabled="true">
                                        <img src="~/layout/templatemo_555_upright/img/me/check.svg" />
                                        已完成
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="@workerMemberComVisibility">
                                            @Model.workerComCount
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="tm-hr-short mb-3">

    <script>
    async function test() {
        // const response = await fetch('@Url.Content("~/depute/Test2")');
        // console.log(response.text());
        // fetch('@Url.Content("~/depute/selectSkill")');
    }
    </script>
