@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Depute>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

@Html.ActionLink("發佈委託", "Create", "Depute", null, new { @class = "btn btn-primary tm-btn-next mb-3" })
<table class="table table-dark table-striped table-bordered">

    <tr>
        <th class="col-auto">
            #
        </th>
        <th class="col-1">
            標題
        </th>
        <th class="col-4">
            內容
        </th>

        <th class="col-1">
            狀態
        </th>
        <th class="col-1">
            報酬
        </th>
        <th class="col-*">
            應徵人數
        </th>
        <th class="col-3"></th>
    </tr>


    @{
        int count = 0;
        foreach (var i in Model)
        {
            count++;
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @i.Title
                            </td>
                            <td>
                                @i.DeputeContent
                            </td>
                            <td>
                                @i.Status.Name
                            </td>
                            <td>
                                @i.Salary.ToString("$###,###,###.00")
                            </td>
                            <td>
                                <button id=`detial${@i.DeputeId}` class="btn btn-light" onclick="individualDetials(@i.DeputeId)">@i.DeputeRecords.Count()</button>
                            </td>
                            <td>
                                @Html.ActionLink("修改", "Edit", "Depute", new { id = i.DeputeId }, new { @class = "btn btn-success" })
                                <button class="btn btn-secondary btn-ReleaseDeputeDetails" onclick="detailsDepute(@i.DeputeId)">詳細資料</button>
                                <button class="btn btn-danger btn-ReleaseDeputeDelete" onclick="deleteDeputeAlert(@i.DeputeId)" data_deputeid=@i.DeputeId>刪除</button>
                            </td>
                        </tr>
        }
    }
</table>

<script>
    function reloadPartial() {
        $.ajax({
            url: '@Url.Action("PartialReleaseList", "depute")',
            type: "GET",
            success: function (result) {
                $('#divReleasePart').html(result);
            },
            error: function (error) {
                console.error('Error reloading partial view:', error);
            }
        })
    }

    async function individualDetials(deputeid) {
        const response = await fetch(`@Url.Content("~/depute/individualdetials")?id=${deputeid}`);
        const datas = await response.json();
        console.log(datas);
        if (datas.length == 0) {
            return;
        }

        Swal.fire({
            color: "#D0D0D0",
            background: "#343a40",
            title: `${datas[0].title}-應徵會員資料`,
            width: '100rem',
            html: `<div class="accordion" id="accordionExample"></div>`
        });

        const applyers = await datas.map((applyer, index) =>
            `<div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${applyer.memberName}" aria-expanded="false" aria-controls="collapse${applyer.memberName}">
                    ${index + 1}-${applyer.memberName}<span class="badge text-bg-info">${applyer.status}</span>
                    </button>
                </h2>
              <div id="collapse${applyer.memberName}" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                  <table class="table">
                    <thead>
                      <tr>
                      <th style="color:black" scope="col-1">性別</th>
                      <th style="color:black" scope="col-1">Email</th>
                      <th style="color:black" scope="col-1">手機</th>
                      <th style="color:black" scope="col-1">生日</th>
                      <th style="color:black" scope="col-1">會員頁面連結</th>
                      <th style="color:black" scope="col-1">狀態</th>
                      <th style="color:black" scope="col-1">狀態管理</th>
                      <th style="color:black" scope="col-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="align-middle" style="color:black">${applyer.applyerGender}</td>
                  <td class="align-middle" style="color:black">${applyer.applyerEmail}</td>
                  <td class="align-middle" style="color:black">${applyer.applyerPhone}</td>
                  <td class="align-middle" style="color:black">${applyer.applyerBirth}</td>
                  <td class="align-middle" style="color:black"><a href="#">${applyer.memberName}</a></td>
                  <td class="align-middle" style="color:black">${applyer.status}</td>
                  <td class="align-middle" style="color:black">
                     <select class="form-select" aria-label="Default select example">
                        <option selected>請選擇欲修改的狀態</option>
                        <option value="7">審核中</option>
                        <option value="8">拒絕</option>
                        <option value="10">合作中</option>
                        <option value="11">備取</option>
                     </select>
                  </td>
                  <td>
                         <button class="btn btn-info" onclick="changeStatus(${applyer.id},event)">更改</button>
                  </td>
                </tr>
              </tbody>
            </table>
                </div>
                <ul class="list-group">
                    <li class="list-group-item text-center">應徵會員補充資訊</li>
                        <li class="list-group-item text-start" style="white-space: pre-line;">${applyer.applyerContent}</li>
                </ul>
                </div>
                </div>`);
        const titleapplyer = await document.querySelector('#accordionExample');
        titleapplyer.innerHTML = applyers.join("");
    }

    async function changeStatus(deputeRecordID,event) {
        const applystatusid = event.target.parentNode.previousSibling.previousSibling.childNodes[1].value;
        var deputerecordstatus = JSON.stringify({ id: deputeRecordID, statusid: applystatusid });
        console.log(deputerecordstatus);
        const response = await fetch(`@Url.Content("~/depute/changeDeputeRecordStatus")?deputerecordstatus=${deputerecordstatus}`);
    }

    function deleteDeputeAlert(deputeID) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });
        swalWithBootstrapButtons.fire({
            color: "#D0D0D0",
            background: "#343a40",
            title: "確定刪除嗎?",
            text: "此動作無法復原!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "是的，確定刪除!",
            cancelButtonText: "取消!",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    title: "已刪除!",
                    text: "該筆資料已刪除",
                    icon: "success"
                });
                fetch(`@Url.Content("~/depute/deletedepute")?id=${deputeID}`);
                setTimeout(function () {
                    reloadPartial();
                }, 500);
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire({
                    color: "#D0D0D0",
                    background: "#343a40",
                    title: "已取消",
                    text: "資料尚未刪除",
                    icon: "error"
                });
            }
        });
    }

    async function detailsDepute(deputeID) {
        const response = await fetch(`@Url.Content("~/depute/DeputeDetial")?id=${deputeID}`);
        const data = await response.json();
        console.log(data);

        Swal.fire({
            title: `<div class=" bg-dark">詳細資料</div>`,
            background: "#343a40",
            html: `<div class="text-reset"> <ul class="list-group ">
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto"  >
                        <div class="fw-bold" style="text-align:left;">標題</div>
                        <div style="text-align:left;">${data.title}</div>
                        </div>
                        </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto" style=":black">
                        <div class="fw-bold" style="text-align:left;">內容</div>
                        <div style="text-align:left;">${data.deputeContent}</div>
                        </div>
                        </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto" style=":black">
                        <div class="fw-bold" style="text-align:left;">地區</div>
                        <div style="text-align:left;">${data.region}</div>
                        </div>
                        </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto" style=":black">
                        <div class="fw-bold" style="text-align:left;">狀態</div>
                        <div style="text-align:left;">${data.status}</div>
                        </div>
                        </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto" style=":black">
                        <div class="fw-bold" style="text-align:left;">應徵人數</div>
                        <div style="text-align:left;">${data.count}</div>
                        </div>
                        </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto" style=":black">
                        <div class="fw-bold" style="text-align:left;">報酬</div>
                        <div style="text-align:left;">${data.salary}</div>
                        </div>
                        </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto" style=":black">
                        <div class="fw-bold" style="text-align:left;">雇主姓名</div>
                        <div style="text-align:left;">${data.providername}</div>
                        </div>
                        </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto" style=":black">
                        <div class="fw-bold" style="text-align:left;">發佈日期</div>
                        <div style="text-align:left;">${data.startdate}</div>
                        </div>
                        </li>
                        <li class="list-group-item bg-dark d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto" style=":black">
                        <div class="fw-bold" style="text-align:left;">更新日期</div>
                        <div style="text-align:left;">${data.modifieddate}</div>
                        </div>
                        </ul></div>`
        });
    }

</script>