@model IEnumerable<prjDB_GamingForm_Show.Models.Admin.CDeputeComplainsWrap>

@{
    ViewData["Title"] = "ACDeputeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeputeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTagId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeputeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTagId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <button type="button" class="btn btn-dark status" onclick="MemberDetail(@Html.DisplayFor(modelItem => item.ProviderId))">會員詳情</button>
                    <button type="button" class="btn btn-dark status" onclick="StatusEdit(@Html.DisplayFor(modelItem => item.Id))">修改狀態</button>
                    <button type="button" class="btn btn-dark status" onclick="penalties(@Html.DisplayFor(modelItem => item.ProviderId))">懲處</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
    {

    <script>
        // $('.btn btn-dark status').click(() => { test2() })

        async function StatusEdit(value) {

            const { value: status } = await Swal.fire({
                title: "修改委託狀態",
                input: "select",
                inputOptions: {
                    狀態: {
                        28: "未處理",
                        29: "處理中",
                        30: "申訴成功",
                        31: "申訴失敗",
                    }
                },
                inputPlaceholder: "選擇狀態以修改",
                showCancelButton: true,
                inputValidator: (value) => {
                    return new Promise((resolve) => {
                        if (value != "") {
                            resolve();
                        } else {
                            resolve("請選擇一個選項");
                        }
                    });
                }
            });
            if (status) {
                // Swal.fire(`You selected: ${status}`);
                $.ajax('@Url.Content("~/Admin/ACDeputeEdit")', {
                    "type": 'post', //POST、PUT、DELETE//
                    "data": {
                        "txtID": value,
                        "txtStatusID": status,
                    },
                })
                    .done(() => { window.location.href = "/Admin/ACDeputeList" })
            }


        }

        async function penalties(value) {

            const { value: status } = await Swal.fire({
                title: "修改委託狀態",
                input: "select",
                inputOptions: {
                    狀態: {
                        32: "警告1次",
                        33: "警告2次",
                        34: "警告3次",
                        26: "已封鎖",
                    }
                },
                inputPlaceholder: "選擇懲處",
                showCancelButton: true,
                inputValidator: (value) => {
                    return new Promise((resolve) => {
                        if (value != "") {
                            resolve();
                        } else {
                            resolve("請選擇一個選項");
                        }
                    });
                }
            });
            if (status) {
                // Swal.fire(`You selected: ${status}`);
                $.ajax('@Url.Content("~/Admin/ACDeputePenalties")', {
                    "type": 'post', //POST、PUT、DELETE//
                    "data": {
                        "txtID": value,
                        "txtStatusID": status,
                    },
                })
                    .done(() => { window.location.href = "/Admin/ACDeputeList" })
            }


        }
        async function MemberDetail(value) {


            // Swal.fire(`You selected: ${status}`);
            $.ajax('@Url.Content("~/Member/MyInfo")', {
                "type": 'post', //POST、PUT、DELETE//
                "data": {
                    "id": value,
                },
                "dataType": "json"
            })
                .done((data) => {
                    console.log(data);
                    Swal.fire({
                        title: `<strong>會員詳細資訊:</strong>`,
                        html: `
                            <b>姓名</b><p>${data[0].name}</p></br>
                            <b>電話:</b><p>${data[0].phone}</p></br>
                            <b>出生年月</b><p>${data[0].year}</p></br>
                            <b>信箱</b><p>${data[0].email}</p></br>
                            <a href="/Member/MemberPageTest/${value}">個人頁面</a>
                  `,
                        showCloseButton: true,
                        showCancelButton: true,

                    });




                })
        }





    </script>

}
