@model IEnumerable<DB_GamingForm_Show.Job.DeputeClass.CDeputeViewModel>

@{
    ViewData["Title"] = "ADeputeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <input type="text" id="text" name="txtKeyword" class="form-control border-0" placeholder="請輸入想尋找的委託..." />
        </div>
        <div class="col-md-auto">
            <button id="search" name="txtKeyword" class="btn btn-dark border-0 w-100">搜尋</button>
        </div>
    </div>
</div>
<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.providername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifieddate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="id">
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.providername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modifieddate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.ActionLink("刪除委託", "DeputeList", "Depute", new { id = "null" }, new { @class = "btn btn-dark ", @id = "search", name = "txtKeyword" })
                    <button type="button" class="btn btn-dark status" onclick="StatusEdit(@Html.DisplayFor(modelItem => item.id))">修改狀態</button>
                    @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                </td>


            </tr>
        }
    </tbody>
    
</table>

@section Scripts
    {

    <script>
        // $('.btn btn-dark status').click(() => { test2() })

        async function StatusEdit(value) {

            const { value: status } = await Swal.fire({
                title: "修改委託狀態",
                input: "select",
                inputOptions: {
                    狀態: {
                        18: "已開放",
                        19: "已關閉",
                        16: "已完成",
                        10: "合作中",
                    }
                },
                inputPlaceholder: "選擇狀態以修改",
                showCancelButton: true,
                inputValidator: (value) => {
                    return new Promise((resolve) => {
                        if (value != "") {
                            resolve();
                        } else {
                            resolve("請選擇一個選項");
                        }
                    });
                }
            });
            if (status) {
                // Swal.fire(`You selected: ${status}`);
                $.ajax('@Url.Content("~/Admin/ADeputeEdit")', {
                    "type": 'post', //POST、PUT、DELETE//
                    "data": {
                        "txtID": value,
                        "txtStatusID": status,
                    },
                })
                    .done(() => { window.location.href = "/Admin/ADeputeList" })
            }
            
        }

        async function Delete(value) {

            Swal.fire({
                title: "確定刪除此委託?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "是",
                denyButtonText: `否`
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    // Swal.fire(`You selected: ${status}`);
                    $.ajax('@Url.Content("~/Admin/ADeputeEdit")', {
                        "type": 'post', //POST、PUT、DELETE//
                        "data": {
                            "txtID": value,
                            "txtStatusID": status,
                        },
                    })
                        .done(() => { window.location.href = "/Admin/ADeputeList" })
                    Swal.fire("確認刪除!", "", "success");
                } else if (result.isDenied) {
                    Swal.fire("已取消動作", "", "info");
                }
            });
            
                
            

        }
    </script>

}
