@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.ArticleComplain>

@{
    ViewData["Title"] = "BlogArticleComplainList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>檢舉清單</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                檢舉編號
            </th>
            <th>
                文章編號
            </th>
            <th>
                會員編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTagId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTagId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
