@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.ArticleComplain>

@{
    ViewData["Title"] = "BlogArticleComplainList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Styles{
    <style>
        tr {
            color: white;
        }

        .table-hover tbody tr:hover {
            background-color: wheat; /* 設定你想要的自定義顏色 */
        }
    </style>
}

<h2>檢舉清單</h2>



<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                檢舉編號
            </th>
            <th>
                文章編號
            </th>
            <th>
                會員編號
            </th>
            <th>
                檢舉內容
            </th>
            <th>
                檢舉日期
            </th>
            <th>
                檢舉類型
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportContent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTag.Name)
                </td>
                <td>
                    @Html.ActionLink("查看", "BlogArticleComplainCheck", "Admin",  new {ACId = item.Id ,AFId = item.ArticleId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

