@model IEnumerable<prjDB_GamingForm_Show.ViewModels.CAdminCouponViewModel>
@* @model prjDB_GamingForm_Show.ViewModels.CAdminCouponViewModel *@
@{
    ViewData["Title"] = "CouponList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .offline {
        background-color: #4F4F4F;
        color: #ADADAD;
        padding: 3px;
        border-radius: 5px
    }

    .online {
        background-color: #009100;
        color: #F0FFF0;
        padding: 3px;
        border-radius: 5px
    }
</style>

<h2 style="margin-left:5px ; font-size:45px">優惠券清單</h2>
@using (Html.BeginForm())
{
    <p style="display:inline;font-size:30px;margin-left:5px;margin-right:10px">名稱關鍵字查詢 : </p> @Html.TextBox("txtKeyWord", null, new { @class = "col-form-label" })
    <input type="submit" value="查詢" class="btn btn-dark" />
}

<p>
    @Html.ActionLink("新增優惠券", "CouponCreat", "Admin", null, null)
</p>
<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                優惠券名稱
            </th>
            <th>
                內容
            </th>
            <th>
                折扣/折價
            </th>
            <th>
                起始日期
            </th>
            <th>
                結束日期
            </th>
            <th>
                狀態
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string type = "";
            string money = "";
            if(item.Type == "23")
            {
                type = "<span class='online'>已啟用</span>";
            }
            else if(item.Type == "24")
            {
                type = "<span class='offline'>未啟用</span>";
            }
            else
            {
                type = "錯誤的狀態";
            }
            if(item.Discount == null)
            {
                money = $"折{item.Reduce}元";
            }
            else
            {
                money = $"{item.Discount*10}折";
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @money
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.Raw(type)
                </td>
                <td>                    
                    <button class="btn btn-dark" onclick="confirmAction(@item.CouponId)">啟用/停用</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function confirmAction(couponId) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
            title: "確定啟/停用嗎?",
            text: "優惠券會馬上啟用/停用！",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "確定",
            cancelButtonText: "取消",
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // 使用Ajax將確認結果送到後端
                $.ajax({
                    url: '/Admin/CouponTypeEdit',
                    type: 'POST',
                    data: { id: couponId },
                    success: function (data) {
                        // 在這裡處理後端返回的結果，可以更新UI等操作
                        swalWithBootstrapButtons.fire({
                            title: "成功!",
                            text: "資料已經被啟用/停用。",
                            icon: "success"
                        }).then(() => {
                            // 關閉SweetAlert2後重新刷新當前頁面
                            location.reload();
                        });
                    },
                    error: function () {
                        // 在這裡處理錯誤情況
                        swalWithBootstrapButtons.fire({
                            title: "錯誤",
                            text: "發生錯誤，請稍後再試。",
                            icon: "error"
                        });
                    }
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                    title: "已取消",
                    text: "您的操作已被取消 :)",
                    icon: "error"
                }).then(() => {
                    // 關閉SweetAlert2後重新刷新當前頁面
                    location.reload();
                });
            }
        });
    
    }
    </script>

}
