@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Member>

@{
    ViewData["Title"] = "MemberList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-left:5px ; font-size:45px">會員清單</h2>
@using (Html.BeginForm())
{
    <p style="display:inline;font-size:30px;margin-left:5px;margin-right:10px">信箱關鍵字查詢 : </p> @Html.TextBox("txtKeyWord",null,new{@class = "col-form-label"})
    <input type="submit" value="查詢" class="btn btn-dark" />
    
}
@*<p style="margin-top:5px"></p>*@
<p style="margin-left:5px">
    @*<input type="button" id="last" value="上一頁"/>*@
    @*<input type="button" id="next" value="下一頁"/>*@
    @Html.ActionLink("上一頁", "MemberListPrevious", "Admin", null, new  { @class = "btn btn-dark" })
    @Html.ActionLink("下一頁", "MemberListNext", "Admin", null, new  { @class = "btn btn-dark" })
</p>
<table class="table table-dark table-hover" style="color:white ; font-size:20px" id="members">
    <thead>
        <tr>
            <th>
                會員編號
            </th>
            <th>
                姓名
            </th>
            <th>
                電話
            </th>
            <th>
                生日
            </th>
            <th>
                信箱
            </th>
            <th>
                性別
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            string m = "";
            string b = "";
            foreach (var item in Model)
            {
                if (item.Gender == 1)
                {
                    m = "男";
                }
                else if (item.Gender == 2)
                {
                    m = "女";
                }
                else
                {
                    m = "不分";
                }
                b = item.Birth.ToString("yyyy / MM / dd");
                <tr>
                    <td id="mid">
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td id="mname">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td id="mphone">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td id="mbirth">
                        @b
                    </td>
                    <td id="memail">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td id="msex">
                        @m
                    </td>
                    <td>
                        @Html.ActionLink("狀態", "Edit","Admin", new { /* id=item.PrimaryKey */ },new  { @class = "btn btn-dark" })
                        @Html.ActionLink("詳細", "Details","Admin", new { /* id=item.PrimaryKey */ },new  { @class = "btn btn-dark" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@*@section Scripts{
    <script>
        const lastbtn = document.querySelector('#last');
        const nextbtn = document.querySelector('#next');
        nextbtn.addEventListener('click', () => {
            next();
        });

        async function next(){
            const response = await fetch('@Url.Content("~/Admin/MemberListNexttest")');
            const datas = await response.json();
            
            const memberid = datas.map(m => datas[0]['memberId'])
            document.querySelector('#mid').innerHTML = memberid.join("")
            
        }

    </script>
}*@
