@model IEnumerable<prjDB_GamingForm_Show.Models.Shop.CNewsLetter>

@{
    ViewData["Title"] = "Newsletter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-left:5px ; font-size:45px">電子報</h2>

<p>
    @*<button class="btn btn-dark" type="button" onclick="CreateNewsletter()">新增電子報</button>*@
    @Html.ActionLink("新增電子報", "SendNewsLetter", "Admin", null, new {@class="text-center btn btn-dark"})
</p>
<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                編號
            </th>
            <th>
                電子報標題
            </th>
            <th>
                電子報內容
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(item.HtmlContent)
            </td>
            <td>
                    @Html.ActionLink("修改", "NewsletterEdit", new { id=item.Id },new{ @class="btn btn-dark status"})
                    <button type="button" class="btn btn-dark status" onclick="NewsletterInfo(@Html.DisplayFor(modelItem => item.Id))">電子報內容</button>
                    @Html.ActionLink("再發送", "Resend", new { id=item.Id},new{ @class="btn btn-dark status"})
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    async function NewsletterInfo(value) {

        // Swal.fire(`You selected: ${status}`);
        $.ajax('@Url.Content("~/Admin/NewsletterInfo")', {
            "type": 'post', //POST、PUT、DELETE//
            "data": {
                "id": value,
            },
            "dataType": "json"
        })
            .done((data) => {
                Swal.fire({
                    title: `<strong>電子報詳細:</strong>`,
                    html: `
                                        <b>電子報編號:</b><p>${data.id}</p></br>
                                        <b>電子報標題:</b><p>${data.title}</p></br>
                                        <b>電子報內容:</b><p>${data.htmlContent}</p></br>

                              `,
                    showCloseButton: true,
                    showCancelButton: true,

                });

            })
    }

</script>