@model IEnumerable<prjDB_GamingForm_Show.Models.Shop.CNewsLetter>

@{
    ViewData["Title"] = "Newsletter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>電子報</h2>

<p>
    @Html.ActionLink("新增電子報", "SendNewsLetter", "Admin", null, new { @style = "font-size:15px" })
</p>
<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                編號
            </th>
            <th>
                電子報標題
            </th>
            <th>
                電子報內容
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(item.HtmlContent)
            </td>
            <td>
                    @Html.ActionLink("修改", "NewsletterEdit", new { id=item.Id },new{ @class="btn btn-dark status"})
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
