@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Order>

@{
    ViewData["Title"] = "OrderListcheck";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var totalOrders = Model.Count();  //全部訂單張數
    var totalOrdersPrice = Math.Floor(Model.Sum(p => p.SumPrice)); //全部訂單總額
    var totalOrderAvg = 0;   // 全部訂單平均
    if (totalOrders != 0)
    {
        totalOrderAvg = (int)totalOrdersPrice / totalOrders;
    }


}
<div>
    <!-- 引用 Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- 創建一個 Canvas 元素用於繪製圖表 -->
    <canvas id="myChart" width="600" height="400"></canvas>
    @{
        DateTime? endDate = ViewBag.end as DateTime?;
        DateTime? startDate = ViewBag.start as DateTime?;
    }
       <script>
       
        var endDate = new Date(@endDate.Value.ToString("yyyy-MM-dd")); 
        var startDate = new Date(@startDate.Value.ToString("yyyy-MM-dd"));
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: '訂單數量',
                    data: [@Model.Count(p => p.OrderDate >= startDate && (p.CompletedDate <= endDate&&p.CompletedDate<= new DateTime(2023,1,31)))
                            , @Model.Count(p => p.OrderDate >= startDate && (p.CompletedDate <= endDate))],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</div>







<div style="font-size:20px;color:aliceblue;">
    查詢起始日期:@((ViewBag.start as DateTime?)?.ToShortDateString()) /
    查詢結束日期:@((ViewBag.end as DateTime?)?.ToShortDateString()) /
    查詢訂單狀態為:@ViewBag.ST    
    @{
        if (ViewBag.ST == "無指定")
        {
            <p>總訂單數:@totalOrders 筆 / 已成交訂單總額:@totalOrdersPrice 元 / 已成交訂單平均單價:@totalOrderAvg.ToString("F2") 元</p>
        }
        if (ViewBag.ST == "未付款")
        {
            var NoPayOrders = Model.Where(p => p.StatusId == 13).Count(); //未付款訂單張數
            var NoPayOrdersPrice = Math.Floor(Model.Where(p => p.StatusId == 13).Sum(p => p.SumPrice)); //未成交訂單總額
            var NoPayAvg = 0;
            if (NoPayOrders == 0)
                NoPayAvg = 0;//未付款訂單平均
            else 
            {
                NoPayAvg =(int) NoPayOrdersPrice / NoPayOrders;
            }

            <p>未付款訂單數:@NoPayOrders 筆 / 未付款訂單總額:@NoPayOrdersPrice 元 / 未付款訂單平均單價:@NoPayAvg.ToString("F2") 元</p>
        }
        if (ViewBag.ST == "已付款")
        {
            var FinishOrders = Model.Where(p => p.StatusId == 16 || p.StatusId == 14 || p.StatusId == 15).Count();  //已成交訂單張數
            var FinishOrdersPrice = Math.Floor(Model.Where(p => p.StatusId == 16 || p.StatusId == 14 || p.StatusId == 15).Sum(p => p.SumPrice)); //已完成訂單總額
            var FinishOrdersAvg = FinishOrdersPrice / FinishOrders; //已完成訂單平均

            <p>已付款訂單數:@FinishOrders 筆 / 已付款訂單總額:@FinishOrdersPrice 元 / 已付款訂單平均單價:@FinishOrdersAvg.ToString("F2") 元</p>
        
        }
    }
</div>

@using (Html.BeginForm())
{


    <label for="start" style="font-size:20px;color:white">開始日期:</label>
    <input type="date" style="font-size:20px" id="start" name="startday" value="2023-01-01" min="2023-01-01" max="2099-12-31" />

@*    <label for="end" style="font-size:20px;color:white">結束日期:</label>
    <label for="start" style="font-size:20px; color:white">開始日期:</label>
    <input type="date" style="font-size:20px" id="start" name="startday" value="2023-01-01" min="2023-01-01" max="2099-12-31" />*@

    <label for="end" style="font-size:20px; color:white">結束日期:</label>
    <input type="date" style="font-size:20px" id="end" name="endday" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="2023-01-01" max="2099-12-31" />


    <select id="sel_Com" name="ST" style="margin-top:3px;width:200px;height:34.61px;font-size:20px" >
        <option>請選擇訂單狀態</option>
        <option>未付款</option>
        <option>已付款</option>
    </select>

    @*<input type="submit" value="查詢" class="btn btn-dark" />*@

    <button id="btn_Search" type="button" class="btn btn-danger" data-bs-dismiss="modal">查詢</button>


}


<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
   
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumPrice)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coupon.Title)
                </td>
                <td>
                    @item.OrderDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @{
                        var pday = item.PaymentDate;
                        var payday = pday.HasValue ? pday.Value.ToString("yyyy/MM/dd") : string.Empty;
                    }
                    @Html.DisplayFor(modelitem => payday)
                </td>
                <td>
                    @{
                        var p = item.PaymentDate;
                        var pd = pday.HasValue ? "已付款" : "未付款";
                    }
                    @pd
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SumPrice)
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script>
        const btnSearch = document.querySelector('#btn_Search');

        btnSearch.addEventListener('click', () => {
            var startday = document.getElementById("start").value;
            var endday = document.getElementById("end").value;
            var ST = document.getElementById("sel_Com").value;


            var url = `@Url.Content("~/Admin/OrderListcheck")?startday=${startday}&endday=${endday}&ST=${ST}`;


            fetch(url)
                .then(response => response.text())
                .then(data => {
                    //confirm(`${data}`);
                    window.location.href = url;
                });
        });
    </script>
}
