@*@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Order>*@
@*@model prjDB_GamingForm_Show.Models.Entities.Order*@
@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Order>


@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var totalOrders = Model.Count();
    var totalAmount = Math.Floor(Model.Where(p => p.StatusId == 16 || p.StatusId == 15).Sum(p => p.SumPrice));
    //var averagePrice = Model.Any() ? Model.Average(o => o.SumPrice) : 0;
    var averagePrice = Model.Any() ? Math.Floor(Model.Average(o => o.SumPrice)) : 0;
}
@section Styles{
    <style>
        tr {
            color: white;
        }

        th {
            font-size: 15px;
        }

        td {
            font-size: 15px;
        }

        .table-hover tbody tr:hover {
            background-color: wheat; /* 設定你想要的自定義顏色 */
        }

        .offline {
            background-color: #4F4F4F; /*  #750000; */
            color: #ADADAD; /* #750000; */
            padding: 3px;
            border-radius: 5px
        }

        .review {
            background-color: #4F4F4F;
            color: #ADADAD;
            padding: 3px;
            border-radius: 5px
        }


        .online {
            background-color: #009100;
            color: #F0FFF0;
            padding: 3px;
            border-radius: 5px
        }
    </style>
}

<div style="font-size:25px;color:white">
    總訂單數:@totalOrders 筆  /   訂單總額:@totalAmount 元  /  平均金額:@averagePrice 元
    <br />
</div>





@using (Html.BeginForm())
{

    <label for="start" style="font-size:20px;color:white">開始日期:</label>
    <input type="date" style="font-size:20px" id="start" name="startday" value="2023-01-01" min="2023-01-01" max="2099-12-31" />

    <label for="end" style="font-size:20px;color:white">結束日期:</label>
    <input type="date" style="font-size:20px" id="end" name="endday" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="2023-01-01" max="2099-12-31" />


    <select id="sel_Com" name="ST" style="margin-top:3px;width:200px;height:34.61px;font-size:20px">
        <option>請選擇訂單狀態</option>
        <option>未付款</option>
        <option>已付款</option>

    </select>


    
        <button id="btn_Search" type="button" class="btn btn-danger" data-bs-dismiss="modal">查詢</button>


}


<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumPrice)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coupon.Title)
                </td>
                <td>
                    @item.OrderDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @{
                        var pday = item.PaymentDate;
                        var payday = pday.HasValue ? pday.Value.ToString("yyyy/MM/dd") : string.Empty;
                    }
                    @Html.DisplayFor(modelitem => payday)
                </td>

                <td>
                    @{
                        var p = item.PaymentDate;
                        var pd = pday.HasValue ? "已付款" : "未付款";
                    }
                    @pd
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SumPrice)
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script>
        const btnSearch = document.querySelector('#btn_Search');

        btnSearch.addEventListener('click', () => {
            var startday = document.getElementById("start").value;
            var endday = document.getElementById("end").value;
            var ST = document.getElementById("sel_Com").value;

            
            var url = `@Url.Content("~/Admin/OrderListcheck")?startday=${startday}&endday=${endday}&ST=${ST}`;

            
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    //confirm(`${data}`);                    
                    window.location.href = url;
                });
        });
    </script>
}
