@*@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Product>*@
@model prjDB_GamingForm_Show.ViewModels.CAdminCheckProductViewModel

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-left:5px ; font-size:45px">商品清單</h2>
@using (Html.BeginForm())
{
    <p style="display:inline;font-size:30px;margin-left:5px;margin-right:10px">商品名稱關鍵字查詢 : </p> @Html.TextBox("txtKeyWord",null,new{@class = "col-form-label"})
    <input type="submit" value="查詢" class="btn btn-dark" />
}
@*<p style="margin-top:5px"></p>*@
<p style="margin-left:5px">
    @Html.ActionLink("上一頁", "ProductListPrevious", "Admin", null, new  { @class = "btn btn-dark" })
    @Html.ActionLink("下一頁", "ProductListNext", "Admin", null, new  { @class = "btn btn-dark" })
</p>
<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                商品編號
            </th>
            <th>
                商品名稱
            </th>
            <th>
                商品單價
            </th>
            <th>
                最後更新日期
            </th>
            <th>
                商品庫存
            </th>
            <th>
                商品狀態
            </th>
            <th>
                上架者
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            string s = "";
            foreach (var item in Model.Products)
            {
                if (item.StatusId == 1)
                {
                    s = "販售中";
                }
                else if (item.StatusId == 2)
                {
                    s = "尚未開始販售";
                }
                else if (item.StatusId == 4)
                {
                    s = "審核中";
                }
                string d = item.AvailableDate.ToString("yyyy / MM / dd");
                string p = item.Price.ToString("0.##");
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @p
                    </td>
                    <td>
                        @d
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitStock)
                    </td>
                    <td>
                        @s
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Name)
                    </td>
                    <td>
                        @Html.ActionLink("商品上/下架", "ProductStatusEdit", "Admin", new {  id=item.ProductId  }, new {onclick = "return confirm('確定上/下架嗎?')",@class = "btn btn-light" })
                        @Html.ActionLink("詳細資料", "ProsuctDetails","Admin", new { /* id=item.PrimaryKey */ },new  { @class = "btn btn-light" } )
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
