@*@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Product>*@
@model prjDB_GamingForm_Show.ViewModels.CAdminCheckProductViewModel

@{
    ViewData["Title"] = "ProductReview";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin-left:5px ; font-size:45px">新品審核</h2>
@using (Html.BeginForm())
{
    <p style="display:inline;font-size:30px;margin-left:5px;margin-right:10px">商品名稱關鍵字查詢 : </p> @Html.TextBox("txtKeyWord",null,new{@class = "col-form-label"})
    <input type="submit" value="查詢" class="btn btn-dark" />
}
<table class="table table-dark table-hover" style="color:white ; font-size:20px">
    <thead>
        <tr>
            <th>
                商品編號
            </th>
            <th>
                商品名稱
            </th>            
            <th>
                申請會員
            </th>            
            <th>
                申請審核日期
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Name)
                </td>                
                <td>
                    @item.AvailableDate.ToString("yyyy/MM/dd")
                </td>
                <td>
                    @Html.ActionLink("商品上架", "ProductStatusReview", "Admin", new {  id=item.ProductId  }, new {onclick = "return confirm('即將審核上架')",@class = "btn btn-dark" })
                    <button type="button" class="btn btn-dark status" onclick="ProductDetail(@Html.DisplayFor(modelItem => item.ProductId))">商品詳情</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    async function ProductDetail(value) {

        // Swal.fire(`You selected: ${status}`);
        $.ajax('@Url.Content("~/Shop/ProductInfo")', {
            "type": 'post', //POST、PUT、DELETE//
            "data": {
                "id": value,
            },
            "dataType": "json"
        })
            .done((data) => {
                Swal.fire({
                    title: `<strong>商品詳細資訊:</strong>`,
                    html: `
                                            <img src="../images/shop/${data[0].fImagePath}" alt="..." style="height:25vh; " /></br>
                                            <b>商品編號:</b><p>${data[0].productId}</p></br>
                                            <b>商品名稱:</b><p>${data[0].productName}</p></br>
                                            <b>上架會員編號:</b><p>${data[0].memberId}</p></br>
                                            <b>價格:</b><p>${data[0].price}</p></br>
                                            <b>商品描述:</b><p>${data[0].productContent}</p></br>

                                  `,
                    showConfirmButton: true,

                })

            })
    }
</script>