@model IEnumerable<prjDB_GamingForm_Show.ViewModels.CShoppingCarViewModel>

@{
    ViewData["Title"] = "CarView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>購物車</h2>

<p>
    @Html.ActionLink("繼續購物", "Index", "Shop",null, new { @class = "btn btn-outline-dark mt-auto" })
   
</p>
<table class="table">
    <thead>
        <tr class="textcolor">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{
     int count = 0;
        decimal tax = 0;
        decimal pay = 0;
        decimal sum = 0;
    foreach (var item in Model) {
        count++;
            <tr class="textcolor">
            <td>
               <img class="card-img-top" src="~/images/shop/@item.FImagePath" alt="..." style="height:120px; width=80px;" />
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                        @using (Html.BeginForm("EditCar", "Shop", FormMethod.Post))
                    {
                            <input type="hidden" name="ProductID" value="@item.ProductID" />
                            <td>
                                @Html.TextBox("txtCount", "1", new { @class = "form-control text-center me-3", @style = "max-width: 3rem" })
                            </td>
                            <td>
                                <input type="submit" value="修改數量" class="btn btn-outline-dark mt-auto" />
                            </td>
                    }
                        <td>
                            @Html.ActionLink("查看商品", "Details", "Shop", new { id = item.ProductID }, new { @class = "btn btn-outline-dark mt-auto" })
                            @Html.ActionLink("刪除購物車", "DeleteFromCar", "Shop", new { id = item.ProductID }, new { @class = "btn btn-outline-dark mt-auto", onclick = "return confirm('確定要刪除嗎?')" })
                        </td>
            </tr>
         sum += item.total;
}

        tax = sum * 0.05M;
        pay = tax + sum;
}
    </tbody>
</table>
<li>交易金額:@sum.ToString("###,###,##0")</li>
<li>稅    額:@tax.ToString("###,###,##0")</li>
<li>應付金額:@pay.ToString("###,###,##0")</li>

<div class="container" style="margin-left:-10px">

    <label for="payment">請選擇付款方式</label>
    <select id="payment" name="payment">
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="orange">Orange</option>
        <option value="grape">Grape</option>
    </select>

@Html.ActionLink("結帳", "Purchase", "Shop",null, new { @class = "btn btn-outline-dark mt-auto", @id="btnpurchase",@type="button",@style="margin-left:30px" })
</div>
<style>
    .textcolor {
        color:white
     }
</style>
<script src="~/js/sweetalert2.all.js"></script>
<script>
    const btn = document.querySelector('#btnpurchase');
    btn.addEventListener('click', () => {


        fetch('@Url.Content("~/Shop/Purchase")')
            .then(Swal.fire({
                title: "結帳成功!",
                text: "訂單已送至電子信箱!",
                icon: "success",
            })
            )
    })
    const payment = document.querySelector('#payment');
    async function LoadPayment() { 
        const response = await fetch('@Url.Content("~/Shop/payment")');
        const data = await response.json();

        const Payment = data.map(x => `
                                     <option value="${x.paymentId}">${x.name}</option>
                            `).join('');

        payment.innerHTML = Payment; 
    }
    LoadPayment();
</script>