@model IEnumerable<prjDB_GamingForm_Show.ViewModels.CShoppingCarViewModel>

@{
    ViewData["Title"] = "CarView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>購物車</h2>

<p>
    @Html.ActionLink("繼續購物", "Index", "Shop",null, new { @class = "btn btn-outline-dark mt-auto" })
   
</p>
<table class="table">
    <thead>
        <tr class="textcolor">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{
     int count = 0;
        decimal pay = 0;
        decimal sum = 0;
    foreach (var item in Model) {
        count++;
                <tr class="textcolor">
                <td>
                   <img class="card-img-top" src="~/images/shop/@item.FImagePath" alt="..." style="height:120px; width=80px;" />
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total)
                    </td>
                            @using (Html.BeginForm("EditCar", "Shop", FormMethod.Post))
                    {
                                <input type="hidden" name="ProductID" value="@item.ProductID" />
                                <td>
                                    @Html.TextBox("txtCount", "1", new { @class = "form-control text-center me-3", @style = "max-width: 3rem" })
                                </td>
                                <td>
                                    <input type="submit" value="修改數量" class="btn btn-outline-dark mt-auto" />
                                </td>
                    }
                            <td>
                                @Html.ActionLink("查看商品", "Details", "Shop", new { id = item.ProductID }, new { @class = "btn btn-outline-dark mt-auto" })
                                @Html.ActionLink("刪除購物車", "DeleteFromCar", "Shop", new { id = item.ProductID }, new { @class = "btn btn-outline-dark mt-auto", onclick = "return confirm('確定要刪除嗎?')" })
                            </td>
                </tr>
         sum += item.total;
}

        pay =  sum;
}
    </tbody>
</table>
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color:#a81d1d; border-color: #272727">
        選擇優惠卷
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div style="border:solid 2px  #a81d1d ; margin-bottom:20px;">
        <div class="form-group" id="Coupon" style="background-color:#4F4F4F">
            <div class="d-flex flex-wrap">
            </div>
        </div>
        <input type="hidden" id="CouponOptions" name="CouponOptions" />
    </div>

</div>
<li>交易金額:@sum.ToString("###,###,##0")</li>
<li>應付金額:@pay.ToString("###,###,##0")</li>

<div class="container" style="margin-left:-10px">
    
    <label for="payment">請選擇付款方式</label>
    <select id="payment" name="payment">
        <option value="apple">Apple</option>
        <option value="banana">Banana</option>
        <option value="orange">Orange</option>
        <option value="grape">Grape</option>
    </select>
        <input type="button" value="結帳" class="btn btn-outline-dark mt-auto" id="btnpurchase" style="margin-left:30px" /> 
     @* @Html.ActionLink("結帳", "Purchase", "Shop",new{payment= payment.value }, new { @class = "btn btn-outline-dark mt-auto", @id="btnpurchase",@type="button",@style="margin-left:30px" }) *@
    
    @* @Html.DropDownListFor(m => m.payment, new SelectList(ViewBag.Items, "Value", "Text")) *@
</div>
<style>
    .textcolor {
        color:white
     }
</style>
<script src="~/js/sweetalert2.all.js"></script>
<script>
    const btn = document.querySelector('#btnpurchase');
    const payment = document.querySelector('#payment');
    btn.addEventListener('click', () => {
        const payid = payment.value

        fetch(`@Url.Content("~/Shop/Purchase")?payment=${payid}`)
            .then(Swal.fire({
                title: "結帳成功!",
                text: "訂單已送至電子信箱!",
                icon: "success",
            })
            )
    })
    
    async function LoadPayment() { 
        const response = await fetch('@Url.Content("~/Shop/payment")');
        const data = await response.json();

        const Payment = data.map(x => `
                                     <option value="${x.paymentId}">${x.name}</option>
                            `).join('');

        payment.innerHTML = Payment; 
    }
    LoadPayment();

    payment.addEventListener('change', () => { 
        console.log(payment.value)
    })

    const TagDiv = document.querySelector('#Coupon .d-flex');

    async function LoadTag() { //讀取遊戲標籤列表
        const response = await fetch('@Url.Content("~/Shop/Coupon")');
        const data = await response.json();
        // console.log(data)
        const Coupon = data.map(x => `
                        <div class="col-3">
                            <label style="margin-bottom: 10px; display: block;">
                                        <input type="radio" name="Coupon" value="${x.couponId}">${x.title}(${x.discount})(${x.reduce})
                            </label>
                        </div>
                                    `).join('');

        TagDiv.innerHTML = Coupon;
        submitTags();
    }

    LoadTag();

    function submitTags() {


        const couponOptions = collectSelectedOptions("Coupon");

        //將被勾起來的選項藏到hidden元素
        document.getElementById("CouponOptions").value = couponOptions;

        return true;
    }
</script>