@model prjDB_GamingForm_Show.ViewModels.CShopPageViewModel

@{
    ViewBag.Title = "Details";
}
<style>
    .scrollable-content {
        max-height: 150px; /* 設定最大高度為150像素 */
        overflow-y: auto; /* 添加垂直滾軸，僅在內容超過最大高度時顯示 */
    }
</style>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row align-items-center">
            <!-- 左側：圖片輪播 -->
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/shop/@Model.FImagePath" class="d-block w-100" alt="..." style="max-width: 600px; max-height: 340px">
                        </div>
                        @{
                            string[] mulpics = Model.MulPic.Split('/');
                            int loopCount = 0;
                            foreach (var item in mulpics)
                            {
                                if (!string.IsNullOrEmpty(item))
                                {
                                    <div class="carousel-item">
                                        <img src="~/images/shop/@item" class="d-block w-100" alt="..." style="max-width: 600px; max-height: 340px">
                                    </div>
                                    loopCount++;
                                }
                            }
                        }
                    </div>
                    @{
                        if (loopCount != 0)
                        {
                            <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </button>
                        }
                    }
                </div>
                <div class="row mt-3">
                    @{
                        string[] mulpicss = Model.MulPic.Split('/');
                        List<string> mulpicList = new List<string>(mulpicss);

                        // 在最前端插入 @Model.FImagePath
                        mulpicList.Insert(0, @Model.FImagePath);
                        // 將 List 轉換回 string[]
                        mulpicss = mulpicList.ToArray();

                        int loopCounts = 0;
                        foreach (var item in mulpicss)
                        {
                            if (!string.IsNullOrEmpty(item))
                            {
                                <!-- 每個圖片區域，固定大小 -->
                                <div class="col-md-2">
                                    <img src="~/images/shop/@item" class="img-thumbnail d-block w-100" alt="..."
                                         style="max-width: 65px; max-height: 50px; cursor: pointer;"
                                         onclick="moveToSlide(@loopCounts)">
                                </div>
                                loopCounts++;
                            }
                        }
                    }
                </div>
            </div>

            <!-- 右側：文字和按鈕 -->
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">@Html.DisplayFor(model => model.ProductName)</h1>
                <div>
                    <div>遊戲類型</div>
                    @{
                        string[] tags = Model.SubTagName.Split('/');
                        foreach (var t in tags)
                        {
                            <span class="badge text-bg-light">@t</span>
                        }
                    }
                </div>
                <div>
                    @{
                        string[] Ltags = Model.SubTagName_Lan.Split('/');
                        if (Model.SubTagName == "" || string.IsNullOrEmpty(Model.SubTagName_Lan))
                        {
                        }
                        else
                        {
                            <div>支援語言</div>
                            foreach (var t in Ltags)
                            {
                                <span class="badge text-bg-light">@t</span>
                            }
                        }
                    }
                </div>
                <div class="fs-5 mb-5">
                    <div>售價</div>
                    <span>@Model.Price.ToString("#0")</span>
                </div>
                <div style="display: flex; align-items: center;">

                    <!-- 右側的按鈕和其他內容 -->
                    <div style="margin-left: auto;">
                        <!-- 收藏按鈕 -->
                        @if (Context.Session.GetInt32(CDictionary.SK_UserID) == null)
                        {
                            <button type="button" class="btn btn-light" id="btnLike" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="float:right;margin:0 5px">
                                <img src="~/images/shop/hollowheart.png" width="20px" height="20px" />
                            </button>
                        }
                        else
                        {
                            if (Model.favourite == "你收藏過了")
                            {
                                <button type="button" class="btn btn-light" id="btnLike" style="float:right;margin:0 5px">
                                    <img src="~/images/shop/heart.png" width="20px" height="20px" id="clicked" />
                                </button>
                            }
                            else if (Model.favourite == "你還沒收藏過")
                            {
                                <button type="button" class="btn btn-light" id="btnLike" style="float:right;margin:0 5px">
                                    <img src="~/images/shop/hollowheart.png" width="20px" height="20px" id="unclicked" />
                                </button>
                            }
                        }
                        <!-- HTML 中的按鈕 -->
                        <button id="copyButton" class="btn btn-light" data-clipboard-target="#urlToCopy" style="float:right;margin:0 5px">分享</button>
                        <!-- 網址藏在這 -->
                        <input type="hidden" id="urlToCopy" value="" readonly>

                        <!-- FB按鈕 -->
                        <img src="~/images/fbicon.png" onclick="shareOnFacebook()" alt="Like" width="45px" height="45px" style="float:right;margin:0 5px" />
                        <script>
                            function shareOnFacebook() {
                                window.open('https://www.facebook.com/sharer.php?u=https://localhost:7056/Shop/Details?FId=@(Model.ProductId)', '_blank');
                            }
                        </script>

                        <!-- Line按鈕 -->
                        <div class="line-it-button"
                             data-lang="zh_Hant"
                             data-type="share-c"
                             data-env="REAL"
                             data-url="https://localhost:7056/Shop/Details?FId=@(Model.ProductId)"
                             data-color="default"
                             data-size="large"
                             data-count="false"
                             data-ver="3"
                             style="float:right ;margin:5px">
                        </div>
                        <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
                    </div>
                </div>
                @*------內文------*@
                <div class="scrollable-content">
                    <p class="lead">@Html.DisplayFor(model => model.ProductContent)</p>
                </div>
                @*------檢舉------*@
                <button type="button" class="btn btn-dark status" style="float:right" onclick="test2(@Html.DisplayFor(model => model.ProductId))">檢舉</button>
                @using (Html.BeginForm("AddToCar", "Shop", FormMethod.Post, new { id = "addToCartForm" }))
                {
                    <input type="hidden" name="ProductID" value="@Model.ProductId" />
                    <div class="d-flex">
                        <i class="bi-cart-fill me-1"></i>
                        <input type="submit" value="加入購物車" class="btn btn-outline-dark mt-auto" id="addToCartButton" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="" id="Hotproduct"></div>
        <div class="" id="LabelProduct"></div>
    </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
        <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</section>
@section Scripts {
    <script>
        function moveToSlide(index) {
            // 使用JavaScript觸發輪播牆移動到指定索引的圖片
            $('#carouselExampleControls').carousel(index);
        }

        //
        document.getElementById('addToCartForm').addEventListener('submit', async function (event) {
            event.preventDefault(); 

            const response = await fetch('/Shop/AddToCar', {
                method: 'POST',
                body: new FormData(event.target),
            });
            const result = await response.json();  
            if (result.success) {
                Swal.fire({
                    title: '商品已成功添加到購物車！',
                    icon: 'success',
                    showCancelButton: true,
                    confirmButtonText: '去購物車看看',
                    confirmButtonColor: '#3085d6',
                    cancelButtonText: '留在本頁',
                    cancelButtonColor: '#d33'
                }).then((result) => {
                  
                    if (result.isConfirmed) {
                        // 使用者按下確認按鈕後的處理邏輯
                        window.location.href = '/Shop/CarView';
                    }
                });  
            } else {
                // 如果失敗，顯示後端返回的錯誤提示
                Swal.fire('已有此商品', result.message, 'error');                     
            }
            getcarList();
        });

        //複製現在的網址
        document.addEventListener('DOMContentLoaded', function () {
            // 獲取當前網址
            var currentUrl = window.location.href;

            // 將當前網址設定到輸入框中
            document.getElementById('urlToCopy').value = currentUrl;

            // 初始化 Clipboard.js
            var clipboard = new ClipboardJS('#copyButton', {
                text: function () {
                    return currentUrl;
                }
            });

            // 處理複製成功事件
            clipboard.on('success', function (e) {
                console.log('已複製到剪貼簿');
                e.clearSelection(); // 清除選擇，使輸入框不被選中
                alert("網址已複製成功");
            });
        });

            
        //有沒有收藏按鈕
        if (document.getElementById('btnLike') !== null) {
            const btnlike = document.getElementById('btnLike');
            if (!btnlike.hasAttribute('data-bs-toggle')) {
                let isLiked = false;

                async function favourite() {
                    btnlike.addEventListener('click', async () => {
                        const response = await fetch(`@Url.Content("~/Shop/favourite")?id=${@Model.ProductId}&isLiked=${isLiked}`);
                        const data = await response.json();

                        const imgElement = document.getElementById('unclicked');

                        if (data.message === "加入最愛" || data.message === "你加過了" )
                        {
                            isLiked = !isLiked; // 切換狀態

                            if (isLiked) {
                                // 更換為加入最愛時的圖片路徑
                                imgElement.src = '@Url.Content("~/images/shop/heart.png")';
                                console.log(data.message + "進來後");
                            } else {
                                //變成沒有加入最愛的路徑
                                imgElement.src = '@Url.Content("~/images/shop/hollowheart.png")';
                                console.log(data.message + "進來後");
                            }
                        }
                        getLoveList();
                    });
                }
                favourite();
            }
        }

        //檢舉商品
        async function test2(value) {

            const { value: reason } = await Swal.fire({
                title: "選擇檢舉原因",
                input: "select",
                inputOptions: {
                    原因: {
                        63: "盜版",
                        67: "不當內容",
                        69: "敘述內容不妥",
                        70: "遊戲圖片不符",
                        65: "其他理由"
                        
                    }
                },
                inputPlaceholder: "選擇檢舉原因",
                showCancelButton: true,
                inputValidator: (value) => {
                    return new Promise((resolve) => {
                        if (value != "") {
                            resolve();
                        } else {
                            resolve("請選擇一個檢舉原因");
                        }
                    });
                }
            });
            if (reason !== undefined) {
                const { value: text } = await Swal.fire({
                    input: "textarea",
                    inputLabel: "Message",
                    inputPlaceholder: "Type your message here...",
                    inputAttributes: {
                        "aria-label": "Type your message here"
                    },
                    showCancelButton: true
                });
                if (text !== undefined) {
                    $.ajax('@Url.Content("~/Shop/ProductComplain")', {
                        "type": 'post', //POST、PUT、DELETE//
                        "data": {
                            "txtID": value,
                            "txtReportContent": text,
                            "txtSubTagID": reason,
                        },
                    })

                    Swal.fire("檢舉成功，我們會盡速為您處理");
                }
            }



        }
        function loadHotProduct() {
            $('#Hotproduct').load('@Url.Content("~/shop/HotProduct")');
        }
        loadHotProduct();
        function loasmlcarousel() {
            var howmany = 1;
            $('#LabelProduct').load('@Url.Content("~/shop/SmlCarousel")', { id: howmany });
        }
        loasmlcarousel();

    </script>
}
<!-- Related items section-->
@*<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">相關商品</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @{
                prjDB_GamingForm_Show.Models.Entities.DbGamingFormTestContext db = new prjDB_GamingForm_Show.Models.Entities.DbGamingFormTestContext();
                IEnumerable<prjDB_GamingForm_Show.Models.Entities.Product> list = db.Products.Where(p => p.Status.Name == "Active").ToList().Take(4);
                foreach (var item in list)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            Product image
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">@item.ProductName</h5>
                                    @item.Price
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    @Html.ActionLink("查看商品", "Details", "Shop", new { id = item.ProductId }, new { @class = "btn btn-outline-dark mt-auto" })
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

     
        public IActionResult Like(int? AFId)
        {
            int memberId = (int)HttpContext.Session.GetInt32(CDictionary.SK_UserID);
            var art = _db.ArticleActions.Where(a => a.ArticleId == AFId && a.MemberId == memberId && a.ActionId == 1).Select(a => a).FirstOrDefault();
            if (art != null)
            {
                _db.ArticleActions.Remove(art);
            }
            else
            {
                ArticleAction x = new ArticleAction();
                x.ArticleId = (int)AFId;
                x.MemberId = memberId;
                x.ActionId = 1;
                _db.ArticleActions.Add(x);
            }
            _db.SaveChanges();
            var likeCount = _db.ArticleActions.Count(a => a.ArticleId == AFId && a.ActionId == 1);
            return Content(likeCount.ToString());
        } *@