@model prjDB_GamingForm_Show.Models.Shop.超酷warp
@* .Entities.Product *@

@{
	ViewBag.Title = "Edit";
}

<div class="container px-4 px-lg-5 mt-2">
	<h2>修改商品</h2>

	@using (Html.BeginForm("Edit", "Shop", FormMethod.Post, new { enctype = "multipart/form-data", id = "productform" }))
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>請輸入商品資料</h4>
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.ProductId)		
			<div class="form-group">
				@Html.LabelFor(model => model.ImageID, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<label class="btn btn-info">
						<input id="upload_img" name="photo" style="display:none;" onchange="previewImage(this)" type="file">
						<i class="fa-solid fa-file"></i>上傳圖片
					</label>
					<img id="imagePreview" style="max-width: 300px; max-height: 300px; margin-top: 10px;" src="~/images/shop/@Model.FImagePath" />
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
				</div>
			</div>



			<label class="control-label col-md-2">支援語言：</label>
			<div class="form-group" id="language" style="border: 1px solid #ccc; padding: 10px; overflow-y: auto; width:50vw;">
				<div class="d-flex flex-wrap">
					<!-- 內容會自動調整高度 -->
				</div>
			</div>
			<label class="control-label col-md-2">遊戲類別：</label>
			<div class="form-group" id="GameTag" style="border: 1px solid #ccc; padding: 10px; overflow-y: auto; width:50vw;">
				<div class="d-flex flex-wrap">
					<!-- 內容會自動調整高度 -->
				</div>
			</div>
			
			<input type="hidden" id="LanguageOptions" name="LanguageOptions" /> <!--藏選擇好的標籤傳遞給後端-->
			<input type="hidden" id="GameTagOptions" name="GameTagOptions" />

			<div class="form-group">
				@Html.LabelFor(model => model.ProductContent, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@*@Html.EditorFor(model => model.ProductContent, new { htmlAttributes = new { @class = "form-control" } })*@
					<textarea style="width: 50vw; height: 45vh; resize: none;" name="ProductContent" cols="120">@Model.ProductContent</textarea>
					@Html.ValidationMessageFor(model => model.ProductContent, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.UnitStock, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.UnitStock, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.UnitStock, "", new { @class = "text-danger" })
				</div>
			</div>


			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="送出並更新" class="btn btn-default" id="btnsubmit" />
				</div>
			</div>
		</div>
	}



	@section Scripts
		{
		<script>
			function previewImage(input) {
				var preview = document.getElementById('imagePreview');
				var file = input.files[0];
				var reader = new FileReader();

				reader.onloadend = function () {
					preview.src = reader.result;
				}

				if (file) {
					reader.readAsDataURL(file);
				} else {
					preview.src = "";
				}
			}

			const btn = document.querySelector('#btnsubmit');

			btn.addEventListener('click', event => {
				event.preventDefault();
				const formData = new FormData(document.querySelector('#productform'));
				fetch('@Url.Content("~/Shop/Edit")', {
					method: 'POST',
					body: formData
				})
					.then(Swal.fire({
						title: "更改成功!",
						//text: "訂單已送至電子信箱!",
						icon: "success",
						showConfirmButton=false
					}))

			})
		</script>


		<!--子標籤視窗大小-->
		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
		<script>
			$(document).ready(function () {
				// 監聽textarea內容變化
				$('#ProductContent').on('input', function () {
					// 根據內容設置div高度
					var contentHeight = $(this).prop('scrollHeight');
					$('#dynamicDiv').height(contentHeight);
				});
			});
		</script>
		<!--圖片呈現-->
		<script>
			function previewImage(input) {
				var preview = document.getElementById('imagePreview');
				var file = input.files[0];
				var reader = new FileReader();

				reader.onloadend = function () {
					preview.src = reader.result;
				}

				if (file) {
					reader.readAsDataURL(file);
				} else {
					preview.src = "";
				}
			}
		</script>
		<!--放Tag-->
		<script>

			const LangDiv = document.querySelector('#language .d-flex');
			const TagDiv = document.querySelector('#GameTag .d-flex');


			async function LoadLang() {
				const response = await fetch('@Url.Content("~/Shop/language")');
				const data = await response.json();

				const Language = data.map(x => `
					<div class="col-3">
						<label style="margin-bottom: 10px; display: block;">
							<input type="checkbox" name="GameTag" value="${x.subTagId}">${x.name}
						</label>
					</div>
				`).join('');

				LangDiv.innerHTML = Language;

				
				await preCheckSelectedTags('LanguageOptions');
				submitTags();
			}

			async function LoadTag() {
				const response = await fetch('@Url.Content("~/Shop/GameTag")');
				const data = await response.json();

				const Tag = data.map(x => `
					<div class="col-3">
						<label style="margin-bottom: 10px; display: block;">
							<input type="checkbox" name="GameTag" value="${x.subTagId}">${x.name}
						</label>
					</div>
				`).join('');

				TagDiv.innerHTML = Tag;

			
				await preCheckSelectedTags('GameTagOptions');
				submitTags();
			}

			// 檢查有沒有選過的標籤
			const productId = document.getElementById('ProductId').value;
			// console.log(productId);
			async function preCheckSelectedTags(hiddenInputId) {
				const selectedTags = await fetch(`@Url.Content("~/Shop/WhenYouEditTags")?id=${productId}`);
				const selectedTagsData = await selectedTags.json();
				// console.log(selectedTagsData);
				selectedTagsData.forEach(tagId => {
					const checkbox = document.querySelector(`input[name="GameTag"][value="${tagId}"]`);
					if (checkbox) {
						checkbox.checked = true;
					}
				});
			}

		
			LoadLang();
			LoadTag();

			///如何從checkbox取值
			function collectSelectedOptions(checkboxName) {
				const checkboxes = document.getElementsByName(checkboxName);
				const selectedOptions = Array.from(checkboxes)
					.filter(checkbox => checkbox.checked)
					.map(checkbox => checkbox.value);

				return selectedOptions.join(',');
			}

			function submitTags() {


				const gameTagOptions = collectSelectedOptions("GameTag");

				//將被勾起來的選項藏到hidden元素
				document.getElementById("GameTagOptions").value = gameTagOptions;

				return true;
			}

			async function submitForm(event) {
				event.preventDefault(); // 阻止表單的默認提交行為
				await submitTags(); // 等待 submitTags 完成
				document.getElementById('productform').submit(); // 手動提交表單
			}

			document.addEventListener('DOMContentLoaded', function () {
				const form = document.getElementById('productform');
				form.addEventListener('submit', submitForm);
			});




		</script>


	}

