@model prjDB_GamingForm_Show.Models.Entities.Product

@{
    ViewBag.Title = "EditCar";
}

<h2>修改購物車</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.DisplayFor(model => model.ProductId)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ProductName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Price)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ProductContent, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ProductContent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitStock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UnitStock)
            </div>
        </div>

        <div class="form-group">
            購買數量
            <div class="col-md-10">
                <input class="form-control text-center me-3" id="inputQuantity" value="1" style="max-width: 3rem" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="送出" class="btn btn-outline-dark mt-auto" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("取消", "ShoppingCar", "Shop", null, new { @class = "btn btn-outline-dark mt-auto" })
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
