@model IEnumerable<prjDB_GamingForm_Show.Models.Entities.Product>

@{
    ViewBag.Title = "產品目錄";
}

<!-- Header-->
<header class="bg-dark py-5 bg-image">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<p>
    @using (Html.BeginForm())
    {
@*        @: 關鍵字 @Html.TextBox("txtKeyword")
        <input type="submit" value="查詢" />*@
    

    <!-- Search Start -->
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <input type="text" class="form-control border-0" placeholder="Keyword" name="txtKeyword" />
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0">
                                <option selected>Category</option>
                                <option value="1">Category 1</option>
                                <option value="2">Category 2</option>
                                <option value="3">Category 3</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select border-0">
                                <option selected>Location</option>
                                <option value="1">Location 1</option>
                                <option value="2">Location 2</option>
                                <option value="3">Location 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                        <input type="submit" value="查詢" />
                </div>
            </div>
        </div>
    </div>
    }
    <!-- Search End -->
 </p>  
    @Html.ActionLink("我要上架", "Create", "Shop",null, new { @class = "btn btn-outline-dark mt-auto" })

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
            <div class="col mb-5">
                <div class="card h-100">
                        
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="~/images/shop/@item.FImagePath" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                                <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">@Html.DisplayFor(modelItem => item.Price)</span>
                            <span style="color:black">@Html.DisplayFor(modelItem => item.Price)</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
 @using (Html.BeginForm("AddToCar", "Shop", FormMethod.Post))
                            {
@Html.TextBox("txtCount", "1", new { @class = "form-control text-center me-3 textbox"})
                        <div class="text-center">
                                @Html.ActionLink("查看商品", "Details", "Shop", new { id = item.ProductId }, new { @class = "btn btn-outline-dark mt-auto" })
                        </div>
                        <div class="text-center">
                                @Html.ActionLink("測試修改", "Edit", "Shop", new { id = item.ProductId }, new { @class = "btn btn-outline-dark mt-auto" })
                            </div>
                           
                                <input type="hidden" name="ProductID" value="@item.ProductId" />
                        <div class="text-center">
                                    
                                    <input type="submit" value="加入購物車" class="btn btn-outline-dark mt-auto" />
                       </div>
                            }

                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <style>
        .textbox{
        max-width: 3rem;
        justify-content:center
        }
    </style>