@model IEnumerable<prjDB_GamingForm_Show.ViewModels.CProductViewModel>

@{
    ViewData["Title"] = "MyProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .accordion-button {
        background-color: transparent !important;
        color: black !important;
    }
</style>
<h2 style="margin-left:290px">商品管理</h2>

<div class="container-fluid">
    @Html.ActionLink("我要上架", "Create", "Shop", null, new { @class = "btn btn-outline-dark mt-auto" ,@style="margin-left:280px"})
    <div class="row justify-content-center align-items-center min-vh-100">
        
        <div class="col-lg-8">
            <div class="container-xxl py-5">
                
                <div id="popmenu" class="container" style="margin-bottom:10px">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        
                        @{
                            
                            if (!string.IsNullOrEmpty(ViewBag.Productlist))
                            {
                                <div class="alert alert-danger">@ViewBag.Productlist</div>
                            }
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>編號</th>
                                        <th>商品名稱</th>
                                        <th>銷售量</th>
                                        <th>價格</th>
                                        <th>狀態</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.sells)</td>
                                            <td>@item.Price.ToString("#0")元</td>
                                            <td>@Html.DisplayFor(modelItem => item.StatusName)</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-dark" onclick="ProductDetail(@Html.DisplayFor(modelItem => item.ProductId))">商品詳情</button>
                                                @Html.ActionLink("修改商品", "Edit", "Shop", new { id = item.ProductId }, new { @class = "btn btn-outline-dark" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            //     foreach (var item in Model)
                            // {
                            // string CountString = "flush-collapseOne" + item.ProductId.ToString();

                            // <div class="accordion-item">
                            //     <h2 class="accordion-header">
                            //         <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#@CountString" aria-expanded="true" aria-controls="@CountString">
                            //             <div class="col-2" style="color:black">
                            //                 編號:@Html.DisplayFor(modelItem => item.ProductId)
                            //             </div>
                            //             <div class="col-6" style="color:black">
                            //             商品名稱:@Html.DisplayFor(modelItem => item.ProductName)
                            //             </div>
                            //             <div class="col" style="color:black">
                            //             銷售量:@Html.DisplayFor(modelItem => item.sells)
                            //             </div>
                            //         </button>
                            //     </h2>
                            //     <div id="@CountString" class="accordion-collapse collapse  " data-bs-parent="#accordionFlushExample">
                            //         <div class="accordion-body">
                            //                 <div class="row">
                            //                 <div class="col" style="color:black">價格:@item.Price.ToString("#0")元</div>
                            //                 <div class="col" style="color:black">狀態:@Html.DisplayFor(modelItem => item.StatusName)</div>
                            //                 <button type="button" class="btn btn-outline-dark mt-auto col" onclick="ProductDetail(@Html.DisplayFor(modelItem => item.ProductId))">商品詳情</button>
                            //                 @Html.ActionLink("測試修改", "Edit", "Shop", new { id = item.ProductId }, new { @class = "btn btn-outline-dark mt-auto col" })
                            //                 </div>
                            //         </div>
                            //     </div>
                            // </div>
                            
                            // }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    async function ProductDetail(value) {

        // Swal.fire(`You selected: ${status}`);
        $.ajax('@Url.Content("~/Shop/ProductInfo")', {
            "type": 'post', //POST、PUT、DELETE//
            "data": {
                "id": value,
            },
            "dataType": "json"
        })
            .done((data) => {
                Swal.fire({
                    title: `<strong>商品詳細資訊:</strong>`,
                    html: `
                                            <img src="../images/shop/${data[0].fImagePath}" alt="..." style="height:25vh; " /></br>
                                            <b>商品編號:</b><p>${data[0].productId}</p></br>
                                            <b>商品狀態:</b><p>${data[0].name}</p></br>
                                            <b>商品名稱:</b><p>${data[0].productName}</p></br>
                                            <b>上架會員編號:</b><p>${data[0].memberId}</p></br>
                                            <b>價格:</b><p>${data[0].price}</p></br>
                                            <b>商品描述:</b><p>${data[0].productContent}</p></br>

                                  `,
                    showCloseButton: true,
                    showCancelButton: true,

                });

            })
    }
</script>