@model prjDB_GamingForm_Show.ViewModels.COrderViewModel

@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>訂單成功</h2>

@*<div>
    <h4>COrderViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouponTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sumprice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sumprice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
