<!DOCTYPE html>
<html lang="en">
<head>
    @using Microsoft.AspNetCore.Mvc.Rendering
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Groot管理系統</title>
    
    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    
                    <div class="navbar nav_title" style="border: 0;">
                        <a @*href="~/index.html"*@ class="site_title">@*<i class="fa fa-paw"></i>*@<img src="~/logo/imgicon.png" /> <span>Groot管理系統</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/production/images/@Context.Request.HttpContext.Session.GetString(CDictionary.SK_管理者照片路徑)" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span style="font-size:20px">管理者,您好</span>
                            <h2 style="font-size:20px">@Context.Request.HttpContext.Session.GetString(CDictionary.SK_管理者名稱)</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="font-size:20px">
                        <div class="menu_section">
                            <h3 style="font-size:30px">功能列表</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a>
                                        <i class="fa fa-home" style="color:#a81d1d"></i> 會員管理 <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("會員清單","MemberList","Admin",null,new{@style = "font-size:15px"})</li>
                                        @* <li><a href="~/index2.html">Dashboard2</a></li>
                                        <li><a href="~/index3.html">Dashboard3</a></li> *@
                                    </ul>
                                </li>
                                <li>
                                    <a>
                                        @*<i class="fa fa-edit"></i>*@<i class="fa fa-table" style="color:#a81d1d"></i> 商城管理 <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("商品清單","ProductList","Admin",null,new{@style = "font-size:15px"})</li>
                                        <li><a href="~/form_advanced.html" style="font-size:15px">申訴處理</a></li>
                                        <li>@Html.ActionLink("新品審核","ProductReview","Admin",null,new{@style = "font-size:15px"})</li>
                                        <li><a href="~/form_wizards.html" style="font-size:15px">廣告上架</a></li>
                                        <li><a href="~/form_upload.html" style="font-size:15px">優惠券設定</a></li>
                                        @*<li><a href="~/form_buttons.html">Form Buttons</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a>
                                        @*<i class="fa fa-desktop"></i>*@<i class="fa fa-edit" style="color:#a81d1d"></i> 論壇管理 <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("分類清單","BlogCategoryList","Admin",null,new{@style = "font-size:15px"})</li>
                                        <li>@Html.ActionLink("版面清單","BlogList","Admin",null,new{@style = "font-size:15px"})</li>
                                        @*<li><a href="~/typography.html">Typography</a></li>
                                        <li><a href="~/icons.html">Icons</a></li>
                                        <li><a href="~/glyphicons.html">Glyphicons</a></li>
                                        <li><a href="~/widgets.html">Widgets</a></li>
                                        <li><a href="~/invoice.html">Invoice</a></li>
                                        <li><a href="~/inbox.html">Inbox</a></li>
                                        <li><a href="~/calendar.html">Calendar</a></li>*@
                                    </ul>
                                </li>
                                <li>
                                    <a>
                                        @*<i class="fa fa-table"></i>*@<i class="fa fa-clone" style="color:#a81d1d"></i> 委託管理 <span class="fa fa-chevron-down"></span>
                                    </a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/tables.html" style="font-size:15px">申訴處理</a></li>
                                        @*<li><a href="~/tables_dynamic.html">Table Dynamic</a></li>**@
                                    </ul>
                                </li>
                                <li>
                                    <a href="../Admin/Index">
                                        <i class="fa fa-bar-chart-o" style="color:#a81d1d"></i> 報表檢視 @*<span class="fa fa-chevron-down"></span>*@
                                    </a>
                                    @*<ul class="nav child_menu">
                                        <li><a href="~/chartjs.html">Chart JS</a></li>
                                        <li><a href="~/chartjs2.html">Chart JS2</a></li>
                                        <li><a href="~/morisjs.html">Moris JS</a></li>
                                        <li><a href="~/echarts.html">ECharts</a></li>
                                        <li><a href="~/other_charts.html">Other Charts</a></li>
                                    </ul>*@
                                </li>
                                <li>
                                    <a href="../Admin/SignalRTest">
                                        聊天測試
                                    </a>
                                </li>
                                @*<li>
                                    <a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/fixed_sidebar.html">Fixed Sidebar</a></li>
                                        <li><a href="~/fixed_footer.html">Fixed Footer</a></li>
                                    </ul>
                                </li>*@
                            </ul>
                        </div>
                        @* <div class="menu_section"> *@
                            @* <h3>Live On</h3> *@
                            @* <ul class="nav side-menu"> *@
                               @*  <li>
                                    <a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/e_commerce.html">E-commerce</a></li>
                                        <li><a href="~/projects.html">Projects</a></li>
                                        <li><a href="~/project_detail.html">Project Detail</a></li>
                                        <li><a href="~/contacts.html">Contacts</a></li>
                                        <li><a href="~/profile.html">Profile</a></li>
                                    </ul>
                                </li> *@
                               @* <li>
                                    <a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/page_403.html">403 Error</a></li>
                                        <li><a href="~/page_404.html">404 Error</a></li>
                                        <li><a href="~/page_500.html">500 Error</a></li>
                                        <li><a href="~/plain_page.html">Plain Page</a></li>
                                        <li><a href="~/login.html">Login Page</a></li>
                                        <li><a href="~/pricing_tables.html">Pricing Tables</a></li>
                                    </ul>
                                </li> *@
                               @*  <li>
                                    <a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/#level1_1">Level One</a>
                                        <li>
                                            <a>Level One<span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li class="sub_menu">
                                                    <a href="~/level2.html">Level Two</a>
                                                </li>
                                                <li>
                                                    <a href="~/#level2_1">Level Two</a>
                                                </li>
                                                <li>
                                                    <a href="~/#level2_2">Level Two</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="~/#level1_2">Level One</a>
                                        </li>
                                    </ul>
                                </li> *@
                                @* <li><a href="~/javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li> *@
                            @* </ul> *@
                        @* </div> *@

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    @* <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="~/login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div> *@
                    <!-- /menu footer buttons -->
                    
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="~/javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/production/images/@Context.Request.HttpContext.Session.GetString(CDictionary.SK_管理者照片路徑)" alt="">@Context.Request.HttpContext.Session.GetString(CDictionary.SK_管理者名稱)
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="~/javascript:;"> 管理者資料</a>
                                    <a class="dropdown-item" href="~/javascript:;">
                                        @*<span class="badge bg-red pull-right">50%</span>*@
                                        <span>設定</span>
                                    </a>
                                    <a class="dropdown-item" href="~/javascript:;">幫助</a>
                                    <a class="dropdown-item" id="btnLogout" asp-controller="AdminHome" asp-action="Logout"><i class="fa fa-sign-out pull-right"></i> 登出</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="~/javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/production/images/s__92446730_0.jpg" /></span>
                                            <span>
                                                <span>囝囡</span>
                                                <span class="time">幾 秒鐘 前</span>
                                            </span>
                                            <span class="message">
                                                喵喵喵，喵嗚喵，咪
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/production/images/s__92446730_0.jpg" /></span>
                                            <span>
                                                <span>囝囡</span>
                                                <span class="time">三 分鐘 前</span>
                                            </span>
                                            <span class="message">
                                                喵嗚嗚喵嗚嗚，嗚嗚喵嗚喵，咪咪咪喵喵嗚，咪咪咪喵喵嗚
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/production/images/s__92446730_0.jpg" /></span>
                                            <span>
                                                <span>囝囡</span>
                                                <span class="time">二十 分鐘 前</span>
                                            </span>
                                            <span class="message">
                                                喵嗚喵喵嗚喵，喵咪咪喵，咪嗚
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/production/images/s__92446730_0.jpg" /></span>
                                            <span>
                                                <span>囝囡</span>
                                                <span class="time">三 小時 前</span>
                                            </span>
                                            <span class="message">
                                                咪嗚喵喵，喵喵，咪喵喵喵
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>查看所有訊息</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    
                </div>
                <!-- /top navigation -->
                @RenderBody()
            </div>
        </div>
    </div>
   
    <!-- footer content -->
    <footer>
        <button onclick="showPV()">123123</button>
        <div id="test" style="display:none; position: absolute; bottom: 10px; right: 10px; z-index: 999;background-color:white; border: 1px solid #000;">
            @*<h1>即時聊天範例</h1>

            <div class="row">
                <div class="col-8">
                    <h4>個人 ID: <span id="SelfID"></span></h4>
                    <div class="mb-3">
                        <label for="message" class="form-label">發送訊息</label>
                        <input type="text" class="form-control" id="message">
                    </div>
                    <div class="mb-3">
                        <label for="sendToID" class="form-label">指定 ID</label>
                        <input type="text" class="form-control" id="sendToID">
                    </div>
                    <button type="button" class="btn btn-primary" id="sendButton">傳送訊息</button>
                </div>
                <div class="col-4">
                    <h4>連線 ID 列表</h4>
                    <ul class="list-group" id="IDList">
                    </ul>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <h3>聊天內容</h3>                    
                    <div id="Content" style="height:150px ;max-height: 150px; overflow-y: auto;">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="~/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/js/custom.min.js"></script>
    @await RenderSectionAsync("Scripts", required:false)
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        
        function showPV() {
            var div = document.querySelector('#test');
            if (div.style.display === "none") {
                div.style.display = "block"; // 顯示
            }
            else {
                div.style.display = "none"; // 隱藏
            }
            
            $('#test').load('@Url.Content("~/Admin/SignalRPV")');
            
        }
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        //與Server建立連線
        connection.start().then(function () {
            console.log("Hub 連線完成");
        }).catch(function (err) {
            alert('連線錯誤: ' + err.toString());
        });

        //更新連線 ID 列表事件
        connection.on("UpdList", function (jsonList) {
            var list = JSON.parse(jsonList);
            $("#IDList li").remove();
            for (i = 0; i < list.length; i++) {
                // //$("#IDList").append($("<li></li>").attr("class", "list-group-item").text(list[i]));
                // var newListItem = $("<li>").attr("class", "list-group-item").text(list[i]);

                // // 創建新的按鈕
                // var newButton = $("<button>").attr("id", "button_" + i).text("Click Me");

                // // 將按鈕添加到 <li> 元素中
                // newListItem.append(newButton);

                // // 將 <li> 元素添加到列表
                // $("#IDList").append(newListItem);
                updateUsersList(list);
            }
        });
        async function updateUsersList(users) {
            // 更新用戶列表的顯示
            $("#test").load('@Url.Content("~/Admin/SignalRPV")');

            // 更新管理者在線狀態
            for (var i = 0; i < users.length; i++) {
                await getAdminOnlineStatus(users[i]);
            }
        }

        async function getAdminOnlineStatus(adminName) {
            // 新增：呼叫 SignalR Hub 方法獲取管理者的在線狀態
            connection.invoke("GetAdminOnlineStatus", adminName).then(function (isOnline) {
                // 修改：觸發更新在線狀態的事件
                connection.invoke("UpdateAdminOnlineStatus", adminName, isOnline);
            });
        }
        connection.on("UpdAdminOnlineStatus", function (adminName, isOnline) {
            // 根據管理者名稱和在線狀態更新前端顯示
            var statusId = `#onlineStatus_${adminName}`;
            $(statusId).text(isOnline ? "在線" : "離線");
        });

        // 更新用戶個人連線 ID 事件
        // connection.on("UpdSelfID", function (userName) {
        //     $('#SelfID').html(userName);
        // });

        // 更新聊天內容事件
        // connection.on("UpdContent", function (msg) {
        //     var messageBlock = document.getElementById("Content");

        //     // 創建一個新的 <p> 元素
        //     var newMessage = document.createElement("p");
        //     // 設定新元素的內容為用戶傳遞的訊息
        //     newMessage.innerText = msg;

        //     // 將新元素加入訊息區塊
        //     messageBlock.appendChild(newMessage);

        //     // 取得當前時間
        //     var currentTime = new Date();
        //     var timeString = currentTime.toLocaleTimeString();

        //     // 創建一個 <span> 用於顯示時間
        //     var timeSpan = document.createElement("span");
        //     timeSpan.innerText = " (" + timeString + ")";

        //     // 將 <span> 加入訊息內容
        //     newMessage.appendChild(timeSpan);

        //     // 將新元素加入訊息區塊
        //     messageBlock.appendChild(newMessage);
        // });

        //傳送訊息
        // $('#sendButton').on('click', function () {
        //     let selfUserName = $('#SelfID').html(); // 使用者名稱
        //     let message = $('#message').val();
        //     let sendToUserName = $('#sendToID').val(); // 接收者的使用者名稱

        //     // 新增：呼叫 SignalR Hub 方法獲取接收者的 SignalR ID
        //     getSignalRIdByUserName(sendToUserName).then(function (connectionId) {
        //         // 修改：傳送訊息時使用接收者的 SignalR ID
        //         connection.invoke("SendMessage", selfUserName, message, connectionId, sendToUserName).catch(function (err) {
        //             console.error('傳送錯誤: ' + err.toString());
        //         });
        //     });
        // });
        // function getSignalRIdByUserName(userName) {
        //     return new Promise((resolve, reject) => {
        //         connection.invoke("GetConnectionIdByUserName", userName).then(function (connectionId) {
        //             // 在這裡可以使用 connectionId 進行相應的處理
        //             resolve(connectionId);
        //         }).catch(function (err) {
        //             reject(err);
        //         });
        //     });
        // }
    </script>
</body>

</html>

